In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', None)
%matplotlib inline
#%matplotlib notebook
sns.set(rc={'figure.figsize':(11.7,8.27)})
from scipy import stats
import statsmodels.api as sm
from scipy.stats import ks_2samp
import scipy.stats as stats
from scipy.stats import ttest_rel
from datetime import datetime

In [12]:
df_19_20.to_pickle('df_19_20_long.pkl')

In [28]:
demand_data_long_format = pd.read_pickle(r'demand_data_long_format.pkl')

In [36]:
quarter_demand = demand_data_long_format.groupby(['Distributor'])['siv_demand'].resample('Q').sum().reset_index()
quarter_demand['qtr']=quarter_demand.timestamp.dt.quarter
quarter_demand['year'] = quarter_demand.timestamp.dt.year

In [47]:
quarter_demand.sample(10)

dist_exAuto = quarter_demand.query("Distributor == 'A K ENTERPRISES'")

                             Distributor  timestamp  siv_demand  qtr  year
2078                          S V AGENCY 2017-03-31        0.00    1  2017
2250                SPEED A WAY PVT LTD. 2017-09-30   55,482.89    3  2017
99    AUTOMATION AND GENERAL ELECTRIC CO 2019-09-30   56,781.28    3  2019
739            Gulati Agencies Pvt. Ltd. 2018-03-31  274,762.13    1  2018
2560             Shree Shyam Corporation 2018-09-30        0.00    3  2018
2771        The Yamuna Syndicate Limited 2016-03-31        0.00    1  2016
1984                  Reva International 2019-03-31        0.00    1  2019
2106                       S.K Marketing 2019-12-31   56,493.50    4  2019
1437                      Manali Traders 2018-06-30    8,348.50    2  2018
1598              Nexus Automotive India 2016-03-31        0.00    1  2016

In [58]:
qtr_data_avl_dist = quarter_demand.groupby('Distributor')['siv_demand'].apply(lambda x : (x==0).sum()).sort_values()

In [62]:
qtr_data_avl_dist.to_csv(r'qtr_data_avl_dist.csv')

In [63]:
quarter_demand

                       Distributor  timestamp  siv_demand  qtr  year
0                  A K ENTERPRISES 2016-03-31        0.00    1  2016
1                  A K ENTERPRISES 2016-06-30        0.00    2  2016
2                  A K ENTERPRISES 2016-09-30        0.00    3  2016
3                  A K ENTERPRISES 2016-12-31        0.00    4  2016
4                  A K ENTERPRISES 2017-03-31        0.00    1  2017
5                  A K ENTERPRISES 2017-06-30        0.00    2  2017
6                  A K ENTERPRISES 2017-09-30        0.00    3  2017
7                  A K ENTERPRISES 2017-12-31    3,630.45    4  2017
8                  A K ENTERPRISES 2018-03-31    8,523.84    1  2018
9                  A K ENTERPRISES 2018-06-30   13,982.27    2  2018
10                 A K ENTERPRISES 2018-09-30    9,778.11    3  2018
11                 A K ENTERPRISES 2018-12-31   20,058.04    4  2018
12                 A K ENTERPRISES 2019-03-31   16,123.72    1  2019
13                 A K ENTERPRISES 2019-06-30   20,293.50    2  2019
14                 A K ENTERPRISES 2019-09-30   24,406.70    3  2019
15                 A K ENTERPRISES 2019-12-31   20,741.74    4  2019
16                 A K ENTERPRISES 2020-03-31   12,691.43    1  2020
17     ACURA INDUSTRIAL LUBRICANTS 2016-03-31        0.00    1  2016
18     ACURA INDUSTRIAL LUBRICANTS 2016-06-30        0.00    2  2016
19     ACURA INDUSTRIAL LUBRICANTS 2016-09-30        0.00    3  2016
20     ACURA INDUSTRIAL LUBRICANTS 2016-12-31        0.00    4  2016
21     ACURA INDUSTRIAL LUBRICANTS 2017-03-31        0.00    1  2017
22     ACURA INDUSTRIAL LUBRICANTS 2017-06-30        0.00    2  2017
23     ACURA INDUSTRIAL LUBRICANTS 2017-09-30        0.00    3  2017
24     ACURA INDUSTRIAL LUBRICANTS 2017-12-31        0.00    4  2017
25     ACURA INDUSTRIAL LUBRICANTS 2018-03-31        0.00    1  2018
26     ACURA INDUSTRIAL LUBRICANTS 2018-06-30        0.00    2  2018
27     ACURA INDUSTRIAL LUBRICANTS 2018-09-30        0.00    3  2018
28     ACURA INDUSTRIAL LUBRICANTS 2018-12-31        0.00    4  2018
29     ACURA INDUSTRIAL LUBRICANTS 2019-03-31        0.00    1  2019
...                            ...        ...         ...  ...   ...
2894  Vishwakarma Diesel engineers 2017-03-31        0.00    1  2017
2895  Vishwakarma Diesel engineers 2017-06-30        0.00    2  2017
2896  Vishwakarma Diesel engineers 2017-09-30        0.00    3  2017
2897  Vishwakarma Diesel engineers 2017-12-31        0.00    4  2017
2898  Vishwakarma Diesel engineers 2018-03-31        0.00    1  2018
2899  Vishwakarma Diesel engineers 2018-06-30        0.00    2  2018
2900  Vishwakarma Diesel engineers 2018-09-30        0.00    3  2018
2901  Vishwakarma Diesel engineers 2018-12-31        0.00    4  2018
2902  Vishwakarma Diesel engineers 2019-03-31        0.00    1  2019
2903  Vishwakarma Diesel engineers 2019-06-30        0.00    2  2019
2904  Vishwakarma Diesel engineers 2019-09-30        0.00    3  2019
2905  Vishwakarma Diesel engineers 2019-12-31    6,387.02    4  2019
2906  Vishwakarma Diesel engineers 2020-03-31   23,000.07    1  2020
2907              Zorin Enterprise 2016-03-31        0.00    1  2016
2908              Zorin Enterprise 2016-06-30        0.00    2  2016
2909              Zorin Enterprise 2016-09-30        0.00    3  2016
2910              Zorin Enterprise 2016-12-31        0.00    4  2016
2911              Zorin Enterprise 2017-03-31        0.00    1  2017
2912              Zorin Enterprise 2017-06-30        0.00    2  2017
2913              Zorin Enterprise 2017-09-30        0.00    3  2017
2914              Zorin Enterprise 2017-12-31        0.00    4  2017
2915              Zorin Enterprise 2018-03-31        0.00    1  2018
2916              Zorin Enterprise 2018-06-30        0.00    2  2018
2917              Zorin Enterprise 2018-09-30        0.00    3  2018
2918              Zorin Enterprise 2018-12-31        0.00    4  2018
2919              Zorin Enterprise 2019-03-31        0.00    1  2019
2920              Zorin Enterprise 2019-06-30        0.00    2  2019
2921              Zorin Enterprise 2019-09-30        0.00    3  2019
2922              Zorin Enterprise 2019-12-31    6,995.47    4  2019
2923              Zorin Enterprise 2020-03-31    7,700.78    1  2020

[2924 rows x 5 columns]

In [64]:
quarter_demand.to_excel('quarter_demand.xlsx',index=False)

In [65]:
quarter_demand

                       Distributor  timestamp  siv_demand  qtr  year
0                  A K ENTERPRISES 2016-03-31        0.00    1  2016
1                  A K ENTERPRISES 2016-06-30        0.00    2  2016
2                  A K ENTERPRISES 2016-09-30        0.00    3  2016
3                  A K ENTERPRISES 2016-12-31        0.00    4  2016
4                  A K ENTERPRISES 2017-03-31        0.00    1  2017
5                  A K ENTERPRISES 2017-06-30        0.00    2  2017
6                  A K ENTERPRISES 2017-09-30        0.00    3  2017
7                  A K ENTERPRISES 2017-12-31    3,630.45    4  2017
8                  A K ENTERPRISES 2018-03-31    8,523.84    1  2018
9                  A K ENTERPRISES 2018-06-30   13,982.27    2  2018
10                 A K ENTERPRISES 2018-09-30    9,778.11    3  2018
11                 A K ENTERPRISES 2018-12-31   20,058.04    4  2018
12                 A K ENTERPRISES 2019-03-31   16,123.72    1  2019
13                 A K ENTERPRISES 2019-06-30   20,293.50    2  2019
14                 A K ENTERPRISES 2019-09-30   24,406.70    3  2019
15                 A K ENTERPRISES 2019-12-31   20,741.74    4  2019
16                 A K ENTERPRISES 2020-03-31   12,691.43    1  2020
17     ACURA INDUSTRIAL LUBRICANTS 2016-03-31        0.00    1  2016
18     ACURA INDUSTRIAL LUBRICANTS 2016-06-30        0.00    2  2016
19     ACURA INDUSTRIAL LUBRICANTS 2016-09-30        0.00    3  2016
20     ACURA INDUSTRIAL LUBRICANTS 2016-12-31        0.00    4  2016
21     ACURA INDUSTRIAL LUBRICANTS 2017-03-31        0.00    1  2017
22     ACURA INDUSTRIAL LUBRICANTS 2017-06-30        0.00    2  2017
23     ACURA INDUSTRIAL LUBRICANTS 2017-09-30        0.00    3  2017
24     ACURA INDUSTRIAL LUBRICANTS 2017-12-31        0.00    4  2017
25     ACURA INDUSTRIAL LUBRICANTS 2018-03-31        0.00    1  2018
26     ACURA INDUSTRIAL LUBRICANTS 2018-06-30        0.00    2  2018
27     ACURA INDUSTRIAL LUBRICANTS 2018-09-30        0.00    3  2018
28     ACURA INDUSTRIAL LUBRICANTS 2018-12-31        0.00    4  2018
29     ACURA INDUSTRIAL LUBRICANTS 2019-03-31        0.00    1  2019
...                            ...        ...         ...  ...   ...
2894  Vishwakarma Diesel engineers 2017-03-31        0.00    1  2017
2895  Vishwakarma Diesel engineers 2017-06-30        0.00    2  2017
2896  Vishwakarma Diesel engineers 2017-09-30        0.00    3  2017
2897  Vishwakarma Diesel engineers 2017-12-31        0.00    4  2017
2898  Vishwakarma Diesel engineers 2018-03-31        0.00    1  2018
2899  Vishwakarma Diesel engineers 2018-06-30        0.00    2  2018
2900  Vishwakarma Diesel engineers 2018-09-30        0.00    3  2018
2901  Vishwakarma Diesel engineers 2018-12-31        0.00    4  2018
2902  Vishwakarma Diesel engineers 2019-03-31        0.00    1  2019
2903  Vishwakarma Diesel engineers 2019-06-30        0.00    2  2019
2904  Vishwakarma Diesel engineers 2019-09-30        0.00    3  2019
2905  Vishwakarma Diesel engineers 2019-12-31    6,387.02    4  2019
2906  Vishwakarma Diesel engineers 2020-03-31   23,000.07    1  2020
2907              Zorin Enterprise 2016-03-31        0.00    1  2016
2908              Zorin Enterprise 2016-06-30        0.00    2  2016
2909              Zorin Enterprise 2016-09-30        0.00    3  2016
2910              Zorin Enterprise 2016-12-31        0.00    4  2016
2911              Zorin Enterprise 2017-03-31        0.00    1  2017
2912              Zorin Enterprise 2017-06-30        0.00    2  2017
2913              Zorin Enterprise 2017-09-30        0.00    3  2017
2914              Zorin Enterprise 2017-12-31        0.00    4  2017
2915              Zorin Enterprise 2018-03-31        0.00    1  2018
2916              Zorin Enterprise 2018-06-30        0.00    2  2018
2917              Zorin Enterprise 2018-09-30        0.00    3  2018
2918              Zorin Enterprise 2018-12-31        0.00    4  2018
2919              Zorin Enterprise 2019-03-31        0.00    1  2019
2920              Zorin Enterprise 2019-06-30        0.00    2  2019
2921              Zorin Enterprise 2019-09-30        0.00    3  2019
2922              Zorin Enterprise 2019-12-31    6,995.47    4  2019
2923              Zorin Enterprise 2020-03-31    7,700.78    1  2020

[2924 rows x 5 columns]

In [66]:
demand_data_long_format.head()

                Distributor matCode  siv_demand
timestamp
2016-01-01  A K ENTERPRISES  120082        0.00
2016-01-01  A K ENTERPRISES  120088        0.00
2016-01-01  A K ENTERPRISES  120089        0.00
2016-01-01  A K ENTERPRISES  120182        0.00
2016-01-01  A K ENTERPRISES  120229        0.00

In [67]:
qtr_data_avl_mat = demand_data_long_format.groupby(['matCode'])['siv_demand'].resample('Q').sum().reset_index()

In [69]:
qtr_data_avl_mat_zero = qtr_data_avl_mat.groupby('matCode')['siv_demand'].apply(lambda x : (x==0).sum()).sort_values()

In [70]:
qtr_data_avl_mat_zero.describe()

count   736.00
mean      6.42
std       6.13
min       0.00
25%       0.00
50%       4.00
75%      12.00
max      17.00
Name: siv_demand, dtype: float64

In [71]:
qtr_data_avl_mat_zero.to_csv(r'qtr_data_avl_mat_zero.csv')

In [73]:
# top mat for each distributor 
demand_data_long_format.groupby(['Distributor','matCode'])['siv_demand'].resample('Q').sum().reset_index()

KeyboardInterrupt:

In [74]:
# top mat for distrbutor 2019 onwards # 
df_19_20.head()

,Distributor,Material,Month of Effective Date,EMAPS Forecast (Ltrs),ICB,SIV,SOV
0,A K ENTERPRISES,123331,2019-01-01,0,0.00,0.00,0.00
1,A K ENTERPRISES,123331,2019-02-01,0,0.00,0.00,0.00
2,A K ENTERPRISES,123331,2019-03-01,0,0.00,0.00,0.00
3,A K ENTERPRISES,123331,2019-04-01,0,0.00,0.00,0.00
4,A K ENTERPRISES,123331,2019-05-01,0,0.00,0.00,0.00

In [ ]:
df_19_20.columns =

In [78]:
df_19_20.columns = ['Distributor', 'Material', 'timestamp','EMAPS', 'ICB', 'SIV', 'SOV']

In [79]:
df_19_20['qtr']= df_19_20.timestamp.dt.quarter
df_19_20['year'] = df_19_20.timestamp.dt.year

In [80]:
df_19_20.head()

       Distributor  Material  timestamp  EMAPS  ICB  SIV  SOV  qtr  year
0  A K ENTERPRISES    123331 2019-01-01      0 0.00 0.00 0.00    1  2019
1  A K ENTERPRISES    123331 2019-02-01      0 0.00 0.00 0.00    1  2019
2  A K ENTERPRISES    123331 2019-03-01      0 0.00 0.00 0.00    1  2019
3  A K ENTERPRISES    123331 2019-04-01      0 0.00 0.00 0.00    2  2019
4  A K ENTERPRISES    123331 2019-05-01      0 0.00 0.00 0.00    2  2019

In [88]:
df_19_20_qtr_sum = df_19_20.groupby(['Distributor','qtr','Material'])['SIV'].sum().reset_index()

In [89]:
df_19_20_qtr_sum.head()

       Distributor  qtr  Material   SIV
0  A K ENTERPRISES    1    123331 20.00
1  A K ENTERPRISES    1    130393  0.00
2  A K ENTERPRISES    1    132568  0.00
3  A K ENTERPRISES    1    135371  0.00
4  A K ENTERPRISES    1    135402  0.00

In [90]:
df_19_20_sum = df_19_20.groupby(['Distributor','Material'])['SIV'].sum().reset_index()

In [95]:
df_19_20_sum['pct_weight_mat'] = df_19_20_sum['SIV']*100/df_19_20_sum.groupby('Distributor')['SIV'].transform('sum')

In [97]:
df_19_20_sum.shape

(20167, 4)

In [104]:
df_19_20_sum.to_excel('df_19_20_sum2.xlsx',index=False)

In [102]:
df_19_20_sum['rank']= df_19_20_sum.groupby('Distributor')['SIV'].rank(ascending=False,method='dense')

In [103]:
df_19_20_sum.head()

       Distributor  Material   SIV  pct_weight_mat  rank
0  A K ENTERPRISES    123331 20.00            0.02 70.00
1  A K ENTERPRISES    130393 20.00            0.02 70.00
2  A K ENTERPRISES    132568 17.59            0.02 73.00
3  A K ENTERPRISES    135371 18.39            0.02 72.00
4  A K ENTERPRISES    135402  0.00            0.00 75.00

In [105]:
df_19_20_sum.sample(20)

,Distributor,Material,SIV,pct_weight_mat,rank
17582,Shree Laxmi Traders,139784,0.00,0.00,65.00
144,ACURA INDUSTRIAL LUBRICANTS,128430,600.00,0.96,23.00
10605,Nirmal Oil Stores,139997,"4,100.00",0.56,33.00
1453,BANSAL LUBRICANTS INDIA PRIVATE LIMITED,139470,"1,100.00",0.10,69.00
7329,Lakshmi Auto Agencies,139362,"2,288.00",3.57,9.00
4739,Hemant Automobiles,139782,684.00,0.48,41.00
5524,Jagotta Agencies,139518,680.00,0.27,62.00
10282,Nexus Automotive India,134637,0.00,0.00,70.00
14524,S Ganga Motors,139772,200.00,0.96,18.00
9540,NEW DELHI TYRE HOUSE,139758,"208,000.00",8.57,2.00
12243,PON PURE CHEMICAL INDIA PRIVATE LIMITED,122167,"7,072.00",0.42,35.00
3567,Govind & Co.,136059,0.00,0.00,93.00
986,Allahabad Auto Stores,139470,380.00,0.86,22.00
8234,MECHKINS INDIA,139541,84.00,0.05,76.00
17045,Shekhar Agencies,136106,0.00,0.00,112.00
12847,Punjab Agencies,139527,840.00,0.10,63.00
12067,P D ENTERPRISES,141637,0.00,nan,1.00
14865,S V AGENCY,139542,"1,540.00",0.69,26.00
11710,P D ENTERPRISE,141236,"6,725.53",0.31,60.00
6044,K.N. Traders,141387,10.00,0.02,31.00

In [ ]:
df_19_20_qtr_sum = df_19_20.groupby(['Distributor','qtr'])['SIV'].mean().reset_index()

In [107]:
df_19_20_no_zeros = df_19_20.query('SIV != 0').reset_index()

In [108]:
df_19_20_no_zeros.groupby(['Distributor','qtr'])['SIV']

,index,Distributor,Material,timestamp,EMAPS,ICB,SIV,SOV,qtr,year
0,12,A K ENTERPRISES,123331,2020-01-01,0,20.00,20.00,0.00,1,2020
1,24,A K ENTERPRISES,130393,2019-11-01,0,0.00,20.00,20.00,4,2019
2,37,A K ENTERPRISES,132568,2019-10-01,0,0.00,17.59,0.00,4,2019
3,52,A K ENTERPRISES,135371,2019-11-01,0,0.00,18.39,16.00,4,2019
4,73,A K ENTERPRISES,136071,2019-04-01,0,24.00,48.00,29.00,2,2019
5,75,A K ENTERPRISES,136071,2019-06-01,9,12.00,24.00,21.00,2,2019
6,77,A K ENTERPRISES,136071,2019-08-01,10,24.00,24.00,12.00,3,2019
7,80,A K ENTERPRISES,136071,2019-11-01,7,33.00,24.00,12.00,4,2019
8,82,A K ENTERPRISES,136071,2020-01-01,0,21.00,12.00,6.00,1,2020
9,91,A K ENTERPRISES,139286,2019-08-01,0,208.00,208.00,0.00,3,2019
10,117,A K ENTERPRISES,139314,2019-06-01,0,208.00,208.00,0.00,2,2019
11,129,A K ENTERPRISES,139341,2019-04-01,0,208.00,208.00,0.00,2,2019
12,166,A K ENTERPRISES,139362,2020-01-01,0,208.00,208.00,0.00,1,2020
13,214,A K ENTERPRISES,139448,2019-05-01,0,0.00,60.00,60.00,2,2019
14,215,A K ENTERPRISES,139448,2019-06-01,42,0.00,40.00,40.00,2,2019
15,228,A K ENTERPRISES,139449,2019-05-01,0,0.00,100.00,100.00,2,2019
16,229,A K ENTERPRISES,139449,2019-06-01,67,0.00,150.00,150.00,2,2019
17,242,A K ENTERPRISES,139451,2019-05-01,0,0.00,150.00,150.00,2,2019
18,243,A K ENTERPRISES,139451,2019-06-01,50,0.00,112.50,112.50,2,2019
19,256,A K ENTERPRISES,139452,2019-05-01,0,0.00,40.00,40.00,2,2019
20,296,A K ENTERPRISES,139464,2019-03-01,23,650.00,640.00,30.00,1,2019
21,300,A K ENTERPRISES,139464,2019-07-01,0,100.00,100.00,114.00,3,2019
22,308,A K ENTERPRISES,139465,2019-01-01,204,720.00,720.00,216.00,1,2019
23,310,A K ENTERPRISES,139465,2019-03-01,234,429.00,180.00,186.00,1,2019
24,313,A K ENTERPRISES,139465,2019-06-01,0,540.00,540.00,195.00,2,2019
25,332,A K ENTERPRISES,139467,2019-11-01,0,60.00,40.00,50.00,4,2019
26,335,A K ENTERPRISES,139467,2020-02-01,0,80.00,100.00,38.00,1,2020
27,353,A K ENTERPRISES,139470,2019-04-01,45,101.00,100.00,80.00,2,2019
28,355,A K ENTERPRISES,139470,2019-06-01,45,111.00,100.00,90.00,2,2019
29,358,A K ENTERPRISES,139470,2019-09-01,31,219.00,200.00,40.00,3,2019
...,...,...,...,...,...,...,...,...,...,...
48089,282110,Zorin Enterprise,141409,2019-11-01,0,0.00,21.60,0.00,4,2019
48090,282124,Zorin Enterprise,141410,2019-11-01,0,0.00,24.00,0.00,4,2019
48091,282138,Zorin Enterprise,141413,2019-11-01,0,0.00,24.00,0.00,4,2019
48092,282140,Zorin Enterprise,141413,2020-01-01,0,180.00,240.00,84.00,1,2020
48093,282141,Zorin Enterprise,141413,2020-02-01,0,288.00,240.00,132.00,1,2020
48094,282152,Zorin Enterprise,141421,2019-11-01,0,0.00,152.42,0.00,4,2019
48095,282166,Zorin Enterprise,141422,2019-11-01,0,0.00,76.21,0.00,4,2019
48096,282169,Zorin Enterprise,141422,2020-02-01,0,60.00,76.21,24.00,1,2020
48097,282180,Zorin Enterprise,141425,2019-11-01,0,0.00,63.51,0.00,4,2019
48098,282194,Zorin Enterprise,141427,2019-11-01,0,0.00,45.73,0.00,4,2019
48099,282196,Zorin Enterprise,141427,2020-01-01,0,0.00,571.58,0.00,1,2020
48100,282210,Zorin Enterprise,141457,2020-01-01,0,240.00,240.00,0.00,1,2020
48101,282223,Zorin Enterprise,141661,2019-12-01,0,0.00,120.00,0.00,4,2019
48102,282225,Zorin Enterprise,141661,2020-02-01,0,6.00,120.00,30.00,1,2020
48103,282236,Zorin Enterprise,141662,2019-11-01,0,0.00,60.00,0.00,4,2019
48104,282237,Zorin Enterprise,141662,2019-12-01,32,24.00,30.00,36.00,4,2019
48105,282238,Zorin Enterprise,141662,2020-01-01,0,24.00,60.00,90.00,1,2020
48106,282239,Zorin Enterprise,141662,2020-02-01,0,12.00,60.00,72.00,1,2020
48107,282251,Zorin Enterprise,141979,2019-12-01,0,0.00,800.00,0.00,4,2019
48108,282253,Zorin Enterprise,141979,2020-02-01,0,480.00,200.00,220.00,1,2020
48109,282265,Zorin Enterprise,141980,2019-12-01,0,0.00,360.00,0.00,4,2019
48110,282266,Zorin Enterprise,141980,2020-01-01,0,918.00,900.00,342.00,1,2020
48111,282278,Zorin Enterprise,141993,2019-11-01,0,0.00,75.00,0.00,4,2019
48112,282279,Zorin Enterprise,141993,2019-12-01,46,75.00,75.00,0.00,4,2019
48113,282280,Zorin Enterprise,141993,2020-01-01,0,780.00,750.00,120.00,1,2020
48114,282293,Zorin Enterprise,142290,2019-12-01,0,0.00,360.00,0.00,4,2019
48115,282307,Zorin Enterprise,142291,2019-12-01,0,0.00,180.00,0.00,4,2019
48116,282320,Zorin Enterprise,142528,2019-11-01,0,0.00,198.00,0.00,4,2019
48117,282334,Zorin Enterprise,142529,2019-11-01,0,0.00,220.00,0.00,4,2019
48118,282337,Zorin Enterprise,142529,2020-02-01,0,520.00,440.00,60.00,1,2020

In [114]:
demand_data_long_format.head()

                Distributor matCode  siv_demand  qtr  year
timestamp
2016-01-01  A K ENTERPRISES  120082        0.00    1  2016
2016-01-01  A K ENTERPRISES  120088        0.00    1  2016
2016-01-01  A K ENTERPRISES  120089        0.00    1  2016
2016-01-01  A K ENTERPRISES  120182        0.00    1  2016
2016-01-01  A K ENTERPRISES  120229        0.00    1  2016

In [111]:
demand_data_long_format['qtr'] = demand_data_long_format.index.quarter

In [113]:
demand_data_long_format['year'] = demand_data_long_format.index.year

In [116]:
demand_data_long_format_no_zero_qtr = demand_data_long_format.query('siv_demand != 0')

In [118]:
demand_data_long_format_no_zero_qtr.groupby(['Distributor','qtr'])['siv_demand'].mean().reset_index()

                            Distributor  qtr  siv_demand
0                       A K ENTERPRISES    1      261.11
1                       A K ENTERPRISES    2      248.38
2                       A K ENTERPRISES    3      234.14
3                       A K ENTERPRISES    4      251.02
4           ACURA INDUSTRIAL LUBRICANTS    1      221.10
5           ACURA INDUSTRIAL LUBRICANTS    2      192.04
6           ACURA INDUSTRIAL LUBRICANTS    3      155.45
7           ACURA INDUSTRIAL LUBRICANTS    4      199.73
8                          ANAND MOTORS    1      779.58
9                          ANAND MOTORS    2      760.88
10                         ANAND MOTORS    3      765.13
11                         ANAND MOTORS    4      911.60
12                           AUTO WORLD    1      252.64
13                           AUTO WORLD    2      242.81
14                           AUTO WORLD    3      282.65
15                           AUTO WORLD    4      367.06
16   AUTOMATION AND GENERAL ELECTRIC CO    1      819.99
17   AUTOMATION AND GENERAL ELECTRIC CO    2      925.39
18   AUTOMATION AND GENERAL ELECTRIC CO    3      933.05
19   AUTOMATION AND GENERAL ELECTRIC CO    4      668.23
20                     AWESH AUTOMOTIVE    1      332.01
21                     AWESH AUTOMOTIVE    2      242.42
22                     AWESH AUTOMOTIVE    3       99.72
23                     AWESH AUTOMOTIVE    4      208.08
24                       Aashvi Traders    1    1,599.32
25                       Aashvi Traders    2    1,316.38
26                       Aashvi Traders    3    1,573.79
27                       Aashvi Traders    4    3,577.21
28                     Adila Enterprise    1      159.99
29                     Adila Enterprise    4      152.46
..                                  ...  ...         ...
538              Super Transports P Ltd    4      986.85
539               Swastik International    1      387.48
540               Swastik International    2      465.39
541               Swastik International    3      528.24
542               Swastik International    4      538.15
543        The Yamuna Syndicate Limited    1      667.78
544        The Yamuna Syndicate Limited    3      211.48
545        The Yamuna Syndicate Limited    4      454.11
546                V.K. OIL & CHEMICALS    1      752.73
547                V.K. OIL & CHEMICALS    2      708.41
548                V.K. OIL & CHEMICALS    3      675.74
549                V.K. OIL & CHEMICALS    4      658.86
550                       V.K.LUBRICANT    1      388.68
551                       V.K.LUBRICANT    4      263.92
552                    VORA ENTERPRISES    1    1,210.58
553                    VORA ENTERPRISES    2    1,238.90
554                    VORA ENTERPRISES    3    1,032.68
555                    VORA ENTERPRISES    4    1,111.13
556       Veerabhadreshwara Enterprises    1      207.54
557       Veerabhadreshwara Enterprises    2      150.53
558       Veerabhadreshwara Enterprises    3      202.66
559       Veerabhadreshwara Enterprises    4      275.26
560                 Vibarja Enterprises    1    1,073.33
561                 Vibarja Enterprises    4      800.42
562                  Vinayak Lubricants    1      103.06
563                  Vinayak Lubricants    4      138.00
564        Vishwakarma Diesel engineers    1    1,150.00
565        Vishwakarma Diesel engineers    4      532.25
566                    Zorin Enterprise    1      265.54
567                    Zorin Enterprise    4      137.17

[568 rows x 3 columns]

In [119]:
demand_data_long_format.sample(20)

,Distributor,matCode,siv_demand,qtr,year
timestamp,,,,,
2018-06-01,MONGA MOTORS,122045,0.00,2,2018
2016-02-01,Shatarupa Enterprise,122326,0.00,1,2016
2016-08-01,Rajdeep & Associates,139249,0.00,3,2016
2018-01-01,CHARBHUJA LUBES,132789,0.00,1,2018
2018-07-01,Excel Automobiles,135461,0.00,3,2018
2020-01-01,Shiv Shakti Traders,139777,0.00,1,2020
2016-11-01,Relax Marketing,132835,0.00,4,2016
2020-01-01,T S Motors & Tractors,141229,0.00,1,2020
2016-03-01,Hans Lubricants & Auto Spares Private Limited,139497,0.00,1,2016
2018-05-01,P D ENTERPRISES,141390,0.00,2,2018
2018-11-01,New Punjab Agencies,142675,0.00,4,2018
2019-06-01,Battery House,140523,0.00,2,2019
2018-08-01,Lakshya Tech India Pvt. Ltd,121686,0.00,3,2018
2017-02-01,Speed A Way Pvt Ltd,135002,0.00,1,2017
2016-09-01,SINGLA MOTOR & TRACTORS,140415,0.00,3,2016
2018-11-01,Kumaran Enterprises,139785,0.00,4,2018
2016-02-01,Shree Ji Lube,139496,0.00,1,2016
2018-12-01,MORE ENTERPRISES,135462,0.00,4,2018
2017-04-01,SIMRAN PETROLEUM CORPORATION,135152,0.00,2,2017
2016-07-01,Mahamaya Enterprises,132790,0.00,3,2016

In [120]:
df_19_20_no_zeros.groupby(['Distributor','qtr'])['SIV'].mean().reset_index()

                            Distributor  qtr      SIV
0                       A K ENTERPRISES    1   285.30
1                       A K ENTERPRISES    2   270.58
2                       A K ENTERPRISES    3   287.14
3                       A K ENTERPRISES    4   233.05
4           ACURA INDUSTRIAL LUBRICANTS    1   221.10
5           ACURA INDUSTRIAL LUBRICANTS    2   192.04
6           ACURA INDUSTRIAL LUBRICANTS    3   155.45
7           ACURA INDUSTRIAL LUBRICANTS    4   199.73
8                          ANAND MOTORS    1 1,099.71
9                          ANAND MOTORS    2 1,060.17
10                         ANAND MOTORS    3 1,101.39
11                         ANAND MOTORS    4 1,439.42
12                           AUTO WORLD    1   272.07
13                           AUTO WORLD    2   243.04
14                           AUTO WORLD    3   377.94
15                           AUTO WORLD    4   460.45
16   AUTOMATION AND GENERAL ELECTRIC CO    1   486.83
17   AUTOMATION AND GENERAL ELECTRIC CO    2 1,275.69
18   AUTOMATION AND GENERAL ELECTRIC CO    3   822.92
19   AUTOMATION AND GENERAL ELECTRIC CO    4   896.34
20                     AWESH AUTOMOTIVE    1    60.00
21                       Aashvi Traders    1 1,599.32
22                       Aashvi Traders    2 1,316.38
23                       Aashvi Traders    3 1,573.79
24                       Aashvi Traders    4 3,577.21
25                     Adila Enterprise    1   159.99
26                     Adila Enterprise    4   152.46
27           Agra Diesels & Automobiles    2   466.00
28                Allahabad Auto Stores    1   258.89
29                Allahabad Auto Stores    2   148.38
..                                  ...  ...      ...
502              Super Transports P Ltd    4 1,125.64
503               Swastik International    1   305.43
504               Swastik International    2   330.79
505               Swastik International    3   564.59
506               Swastik International    4   483.62
507        The Yamuna Syndicate Limited    1   667.78
508        The Yamuna Syndicate Limited    3   211.48
509        The Yamuna Syndicate Limited    4   454.11
510                V.K. OIL & CHEMICALS    1   694.35
511                V.K. OIL & CHEMICALS    2   727.93
512                V.K. OIL & CHEMICALS    3   672.02
513                V.K. OIL & CHEMICALS    4   672.13
514                       V.K.LUBRICANT    1   388.68
515                       V.K.LUBRICANT    4   263.92
516                    VORA ENTERPRISES    1 1,737.52
517                    VORA ENTERPRISES    2 1,506.86
518                    VORA ENTERPRISES    3 1,245.21
519                    VORA ENTERPRISES    4 1,740.63
520       Veerabhadreshwara Enterprises    1   207.54
521       Veerabhadreshwara Enterprises    2   150.53
522       Veerabhadreshwara Enterprises    3   202.66
523       Veerabhadreshwara Enterprises    4   275.26
524                 Vibarja Enterprises    1 1,073.33
525                 Vibarja Enterprises    4   800.42
526                  Vinayak Lubricants    1   103.06
527                  Vinayak Lubricants    4   138.00
528        Vishwakarma Diesel engineers    1 1,150.00
529        Vishwakarma Diesel engineers    4   532.25
530                    Zorin Enterprise    1   265.54
531                    Zorin Enterprise    4   137.17

[532 rows x 3 columns]

In [121]:
df_19_20_no_zeros

,index,Distributor,Material,timestamp,EMAPS,ICB,SIV,SOV,qtr,year
0,12,A K ENTERPRISES,123331,2020-01-01,0,20.00,20.00,0.00,1,2020
1,24,A K ENTERPRISES,130393,2019-11-01,0,0.00,20.00,20.00,4,2019
2,37,A K ENTERPRISES,132568,2019-10-01,0,0.00,17.59,0.00,4,2019
3,52,A K ENTERPRISES,135371,2019-11-01,0,0.00,18.39,16.00,4,2019
4,73,A K ENTERPRISES,136071,2019-04-01,0,24.00,48.00,29.00,2,2019
5,75,A K ENTERPRISES,136071,2019-06-01,9,12.00,24.00,21.00,2,2019
6,77,A K ENTERPRISES,136071,2019-08-01,10,24.00,24.00,12.00,3,2019
7,80,A K ENTERPRISES,136071,2019-11-01,7,33.00,24.00,12.00,4,2019
8,82,A K ENTERPRISES,136071,2020-01-01,0,21.00,12.00,6.00,1,2020
9,91,A K ENTERPRISES,139286,2019-08-01,0,208.00,208.00,0.00,3,2019
10,117,A K ENTERPRISES,139314,2019-06-01,0,208.00,208.00,0.00,2,2019
11,129,A K ENTERPRISES,139341,2019-04-01,0,208.00,208.00,0.00,2,2019
12,166,A K ENTERPRISES,139362,2020-01-01,0,208.00,208.00,0.00,1,2020
13,214,A K ENTERPRISES,139448,2019-05-01,0,0.00,60.00,60.00,2,2019
14,215,A K ENTERPRISES,139448,2019-06-01,42,0.00,40.00,40.00,2,2019
15,228,A K ENTERPRISES,139449,2019-05-01,0,0.00,100.00,100.00,2,2019
16,229,A K ENTERPRISES,139449,2019-06-01,67,0.00,150.00,150.00,2,2019
17,242,A K ENTERPRISES,139451,2019-05-01,0,0.00,150.00,150.00,2,2019
18,243,A K ENTERPRISES,139451,2019-06-01,50,0.00,112.50,112.50,2,2019
19,256,A K ENTERPRISES,139452,2019-05-01,0,0.00,40.00,40.00,2,2019
20,296,A K ENTERPRISES,139464,2019-03-01,23,650.00,640.00,30.00,1,2019
21,300,A K ENTERPRISES,139464,2019-07-01,0,100.00,100.00,114.00,3,2019
22,308,A K ENTERPRISES,139465,2019-01-01,204,720.00,720.00,216.00,1,2019
23,310,A K ENTERPRISES,139465,2019-03-01,234,429.00,180.00,186.00,1,2019
24,313,A K ENTERPRISES,139465,2019-06-01,0,540.00,540.00,195.00,2,2019
25,332,A K ENTERPRISES,139467,2019-11-01,0,60.00,40.00,50.00,4,2019
26,335,A K ENTERPRISES,139467,2020-02-01,0,80.00,100.00,38.00,1,2020
27,353,A K ENTERPRISES,139470,2019-04-01,45,101.00,100.00,80.00,2,2019
28,355,A K ENTERPRISES,139470,2019-06-01,45,111.00,100.00,90.00,2,2019
29,358,A K ENTERPRISES,139470,2019-09-01,31,219.00,200.00,40.00,3,2019
...,...,...,...,...,...,...,...,...,...,...
48089,282110,Zorin Enterprise,141409,2019-11-01,0,0.00,21.60,0.00,4,2019
48090,282124,Zorin Enterprise,141410,2019-11-01,0,0.00,24.00,0.00,4,2019
48091,282138,Zorin Enterprise,141413,2019-11-01,0,0.00,24.00,0.00,4,2019
48092,282140,Zorin Enterprise,141413,2020-01-01,0,180.00,240.00,84.00,1,2020
48093,282141,Zorin Enterprise,141413,2020-02-01,0,288.00,240.00,132.00,1,2020
48094,282152,Zorin Enterprise,141421,2019-11-01,0,0.00,152.42,0.00,4,2019
48095,282166,Zorin Enterprise,141422,2019-11-01,0,0.00,76.21,0.00,4,2019
48096,282169,Zorin Enterprise,141422,2020-02-01,0,60.00,76.21,24.00,1,2020
48097,282180,Zorin Enterprise,141425,2019-11-01,0,0.00,63.51,0.00,4,2019
48098,282194,Zorin Enterprise,141427,2019-11-01,0,0.00,45.73,0.00,4,2019
48099,282196,Zorin Enterprise,141427,2020-01-01,0,0.00,571.58,0.00,1,2020
48100,282210,Zorin Enterprise,141457,2020-01-01,0,240.00,240.00,0.00,1,2020
48101,282223,Zorin Enterprise,141661,2019-12-01,0,0.00,120.00,0.00,4,2019
48102,282225,Zorin Enterprise,141661,2020-02-01,0,6.00,120.00,30.00,1,2020
48103,282236,Zorin Enterprise,141662,2019-11-01,0,0.00,60.00,0.00,4,2019
48104,282237,Zorin Enterprise,141662,2019-12-01,32,24.00,30.00,36.00,4,2019
48105,282238,Zorin Enterprise,141662,2020-01-01,0,24.00,60.00,90.00,1,2020
48106,282239,Zorin Enterprise,141662,2020-02-01,0,12.00,60.00,72.00,1,2020
48107,282251,Zorin Enterprise,141979,2019-12-01,0,0.00,800.00,0.00,4,2019
48108,282253,Zorin Enterprise,141979,2020-02-01,0,480.00,200.00,220.00,1,2020
48109,282265,Zorin Enterprise,141980,2019-12-01,0,0.00,360.00,0.00,4,2019
48110,282266,Zorin Enterprise,141980,2020-01-01,0,918.00,900.00,342.00,1,2020
48111,282278,Zorin Enterprise,141993,2019-11-01,0,0.00,75.00,0.00,4,2019
48112,282279,Zorin Enterprise,141993,2019-12-01,46,75.00,75.00,0.00,4,2019
48113,282280,Zorin Enterprise,141993,2020-01-01,0,780.00,750.00,120.00,1,2020
48114,282293,Zorin Enterprise,142290,2019-12-01,0,0.00,360.00,0.00,4,2019
48115,282307,Zorin Enterprise,142291,2019-12-01,0,0.00,180.00,0.00,4,2019
48116,282320,Zorin Enterprise,142528,2019-11-01,0,0.00,198.00,0.00,4,2019
48117,282334,Zorin Enterprise,142529,2019-11-01,0,0.00,220.00,0.00,4,2019
48118,282337,Zorin Enterprise,142529,2020-02-01,0,520.00,440.00,60.00,1,2020

In [122]:
df_19_20_no_zeros.groupby(['Distributor','qtr'])['SIV'].sum().reset_index()

                            Distributor  qtr        SIV
0                       A K ENTERPRISES    1  28,815.15
1                       A K ENTERPRISES    2  20,293.50
2                       A K ENTERPRISES    3  24,406.70
3                       A K ENTERPRISES    4  20,741.74
4           ACURA INDUSTRIAL LUBRICANTS    1  22,552.27
5           ACURA INDUSTRIAL LUBRICANTS    2   1,920.39
6           ACURA INDUSTRIAL LUBRICANTS    3   7,617.06
7           ACURA INDUSTRIAL LUBRICANTS    4  30,159.88
8                          ANAND MOTORS    1 124,267.58
9                          ANAND MOTORS    2 104,957.27
10                         ANAND MOTORS    3 102,429.16
11                         ANAND MOTORS    4 135,305.72
12                           AUTO WORLD    1  39,721.97
13                           AUTO WORLD    2  23,817.83
14                           AUTO WORLD    3  22,676.35
15                           AUTO WORLD    4  36,375.35
16   AUTOMATION AND GENERAL ELECTRIC CO    1  42,840.68
17   AUTOMATION AND GENERAL ELECTRIC CO    2  80,368.48
18   AUTOMATION AND GENERAL ELECTRIC CO    3  56,781.28
19   AUTOMATION AND GENERAL ELECTRIC CO    4  43,920.77
20                     AWESH AUTOMOTIVE    1      60.00
21                       Aashvi Traders    1  68,770.64
22                       Aashvi Traders    2  17,113.00
23                       Aashvi Traders    3  45,639.78
24                       Aashvi Traders    4  85,853.00
25                     Adila Enterprise    1   3,359.81
26                     Adila Enterprise    4   3,506.66
27           Agra Diesels & Automobiles    2     932.00
28                Allahabad Auto Stores    1  19,157.79
29                Allahabad Auto Stores    2   8,606.12
..                                  ...  ...        ...
502              Super Transports P Ltd    4 487,402.15
503               Swastik International    1   7,025.00
504               Swastik International    2  17,201.00
505               Swastik International    3  12,985.60
506               Swastik International    4  13,057.80
507        The Yamuna Syndicate Limited    1  18,030.10
508        The Yamuna Syndicate Limited    3   5,075.50
509        The Yamuna Syndicate Limited    4  11,352.80
510                V.K. OIL & CHEMICALS    1  82,628.05
511                V.K. OIL & CHEMICALS    2  57,506.15
512                V.K. OIL & CHEMICALS    3  61,825.65
513                V.K. OIL & CHEMICALS    4  58,475.61
514                       V.K.LUBRICANT    1  12,049.00
515                       V.K.LUBRICANT    4   7,917.50
516                    VORA ENTERPRISES    1 243,252.78
517                    VORA ENTERPRISES    2 147,671.98
518                    VORA ENTERPRISES    3 141,954.30
519                    VORA ENTERPRISES    4 215,837.53
520       Veerabhadreshwara Enterprises    1  20,961.48
521       Veerabhadreshwara Enterprises    2  13,548.01
522       Veerabhadreshwara Enterprises    3  13,375.36
523       Veerabhadreshwara Enterprises    4  13,487.69
524                 Vibarja Enterprises    1  71,913.34
525                 Vibarja Enterprises    4  60,832.04
526                  Vinayak Lubricants    1   1,752.00
527                  Vinayak Lubricants    4   3,312.00
528        Vishwakarma Diesel engineers    1  23,000.07
529        Vishwakarma Diesel engineers    4   6,387.02
530                    Zorin Enterprise    1   7,700.78
531                    Zorin Enterprise    4   6,995.47

[532 rows x 3 columns]

In [123]:
demand_data_long_format.groupby(['Distributor','qtr'])['siv_demand'].sum().reset_index()

                            Distributor  qtr  siv_demand
0                       A K ENTERPRISES    1   37,338.99
1                       A K ENTERPRISES    2   34,275.77
2                       A K ENTERPRISES    3   34,184.80
3                       A K ENTERPRISES    4   44,430.23
4           ACURA INDUSTRIAL LUBRICANTS    1   22,552.27
5           ACURA INDUSTRIAL LUBRICANTS    2    1,920.39
6           ACURA INDUSTRIAL LUBRICANTS    3    7,617.06
7           ACURA INDUSTRIAL LUBRICANTS    4   30,159.88
8                       AKILAN AGENCIES    1        0.00
9                       AKILAN AGENCIES    2        0.00
10                      AKILAN AGENCIES    3        0.00
11                      AKILAN AGENCIES    4        0.00
12                         ANAND MOTORS    1  353,930.43
13                         ANAND MOTORS    2  346,201.82
14                         ANAND MOTORS    3  296,872.10
15                         ANAND MOTORS    4  414,778.92
16                           AUTO WORLD    1   57,095.67
17                           AUTO WORLD    2   40,548.89
18                           AUTO WORLD    3   34,483.75
19                           AUTO WORLD    4   63,868.94
20   AUTOMATION AND GENERAL ELECTRIC CO    1  184,498.59
21   AUTOMATION AND GENERAL ELECTRIC CO    2  167,495.20
22   AUTOMATION AND GENERAL ELECTRIC CO    3  169,815.25
23   AUTOMATION AND GENERAL ELECTRIC CO    4  109,589.88
24                     AWESH AUTOMOTIVE    1   11,952.52
25                     AWESH AUTOMOTIVE    2    8,484.86
26                     AWESH AUTOMOTIVE    3    1,196.67
27                     AWESH AUTOMOTIVE    4    8,115.31
28                       Aashvi Traders    1   68,770.64
29                       Aashvi Traders    2   17,113.00
..                                  ...  ...         ...
658                V.K. OIL & CHEMICALS    3  133,796.96
659                V.K. OIL & CHEMICALS    4  117,277.47
660                       V.K.LUBRICANT    1   12,049.00
661                       V.K.LUBRICANT    2        0.00
662                       V.K.LUBRICANT    3        0.00
663                       V.K.LUBRICANT    4    7,917.50
664                    VORA ENTERPRISES    1  386,175.55
665                    VORA ENTERPRISES    2  309,725.89
666                    VORA ENTERPRISES    3  326,326.39
667                    VORA ENTERPRISES    4  448,894.67
668       Veerabhadreshwara Enterprises    1   20,961.48
669       Veerabhadreshwara Enterprises    2   13,548.01
670       Veerabhadreshwara Enterprises    3   13,375.36
671       Veerabhadreshwara Enterprises    4   13,487.69
672                 Vibarja Enterprises    1   71,913.34
673                 Vibarja Enterprises    2        0.00
674                 Vibarja Enterprises    3        0.00
675                 Vibarja Enterprises    4   60,832.04
676                  Vinayak Lubricants    1    1,752.00
677                  Vinayak Lubricants    2        0.00
678                  Vinayak Lubricants    3        0.00
679                  Vinayak Lubricants    4    3,312.00
680        Vishwakarma Diesel engineers    1   23,000.07
681        Vishwakarma Diesel engineers    2        0.00
682        Vishwakarma Diesel engineers    3        0.00
683        Vishwakarma Diesel engineers    4    6,387.02
684                    Zorin Enterprise    1    7,700.78
685                    Zorin Enterprise    2        0.00
686                    Zorin Enterprise    3        0.00
687                    Zorin Enterprise    4    6,995.47

[688 rows x 3 columns]

In [124]:
demand_data_long_format.head()

                Distributor matCode  siv_demand  qtr  year
timestamp
2016-01-01  A K ENTERPRISES  120082        0.00    1  2016
2016-01-01  A K ENTERPRISES  120088        0.00    1  2016
2016-01-01  A K ENTERPRISES  120089        0.00    1  2016
2016-01-01  A K ENTERPRISES  120182        0.00    1  2016
2016-01-01  A K ENTERPRISES  120229        0.00    1  2016

In [125]:
df_19_20_no_zeros.groupby(['Distributor','qtr','year'])['SIV'].sum().reset_index()

                            Distributor  qtr  year        SIV
0                       A K ENTERPRISES    1  2019  16,123.72
1                       A K ENTERPRISES    1  2020  12,691.43
2                       A K ENTERPRISES    2  2019  20,293.50
3                       A K ENTERPRISES    3  2019  24,406.70
4                       A K ENTERPRISES    4  2019  20,741.74
5           ACURA INDUSTRIAL LUBRICANTS    1  2020  22,552.27
6           ACURA INDUSTRIAL LUBRICANTS    2  2019   1,920.39
7           ACURA INDUSTRIAL LUBRICANTS    3  2019   7,617.06
8           ACURA INDUSTRIAL LUBRICANTS    4  2019  30,159.88
9                          ANAND MOTORS    1  2019  90,898.58
10                         ANAND MOTORS    1  2020  33,369.00
11                         ANAND MOTORS    2  2019 104,957.27
12                         ANAND MOTORS    3  2019 102,429.16
13                         ANAND MOTORS    4  2019 135,305.72
14                           AUTO WORLD    1  2019  21,725.84
15                           AUTO WORLD    1  2020  17,996.14
16                           AUTO WORLD    2  2019  23,817.83
17                           AUTO WORLD    3  2019  22,676.35
18                           AUTO WORLD    4  2019  36,375.35
19   AUTOMATION AND GENERAL ELECTRIC CO    1  2019  34,024.75
20   AUTOMATION AND GENERAL ELECTRIC CO    1  2020   8,815.92
21   AUTOMATION AND GENERAL ELECTRIC CO    2  2019  80,368.48
22   AUTOMATION AND GENERAL ELECTRIC CO    3  2019  56,781.28
23   AUTOMATION AND GENERAL ELECTRIC CO    4  2019  43,920.77
24                     AWESH AUTOMOTIVE    1  2019      60.00
25                       Aashvi Traders    1  2019  36,042.64
26                       Aashvi Traders    1  2020  32,728.00
27                       Aashvi Traders    2  2019  17,113.00
28                       Aashvi Traders    3  2019  45,639.78
29                       Aashvi Traders    4  2019  85,853.00
..                                  ...  ...   ...        ...
602               Swastik International    3  2019  12,985.60
603               Swastik International    4  2019  13,057.80
604        The Yamuna Syndicate Limited    1  2020  18,030.10
605        The Yamuna Syndicate Limited    3  2019   5,075.50
606        The Yamuna Syndicate Limited    4  2019  11,352.80
607                V.K. OIL & CHEMICALS    1  2019  54,884.01
608                V.K. OIL & CHEMICALS    1  2020  27,744.04
609                V.K. OIL & CHEMICALS    2  2019  57,506.15
610                V.K. OIL & CHEMICALS    3  2019  61,825.65
611                V.K. OIL & CHEMICALS    4  2019  58,475.61
612                       V.K.LUBRICANT    1  2020  12,049.00
613                       V.K.LUBRICANT    4  2019   7,917.50
614                    VORA ENTERPRISES    1  2019 138,558.32
615                    VORA ENTERPRISES    1  2020 104,694.45
616                    VORA ENTERPRISES    2  2019 147,671.98
617                    VORA ENTERPRISES    3  2019 141,954.30
618                    VORA ENTERPRISES    4  2019 215,837.53
619       Veerabhadreshwara Enterprises    1  2019  11,988.50
620       Veerabhadreshwara Enterprises    1  2020   8,972.98
621       Veerabhadreshwara Enterprises    2  2019  13,548.01
622       Veerabhadreshwara Enterprises    3  2019  13,375.36
623       Veerabhadreshwara Enterprises    4  2019  13,487.69
624                 Vibarja Enterprises    1  2020  71,913.34
625                 Vibarja Enterprises    4  2019  60,832.04
626                  Vinayak Lubricants    1  2020   1,752.00
627                  Vinayak Lubricants    4  2019   3,312.00
628        Vishwakarma Diesel engineers    1  2020  23,000.07
629        Vishwakarma Diesel engineers    4  2019   6,387.02
630                    Zorin Enterprise    1  2020   7,700.78
631                    Zorin Enterprise    4  2019   6,995.47

[632 rows x 4 columns]

In [ ]:
qtr_data_avl_mat = demand_data_long_format.groupby(['matCode'])['siv_demand'].resample('Q').sum().reset_index()

In [126]:
qtr_data_avl_mat

      matCode  timestamp    siv_demand
0      120082 2016-03-31          0.00
1      120082 2016-06-30          0.00
2      120082 2016-09-30          0.00
3      120082 2016-12-31          0.00
4      120082 2017-03-31          0.00
5      120082 2017-06-30          0.00
6      120082 2017-09-30          0.00
7      120082 2017-12-31          0.00
8      120082 2018-03-31          0.00
9      120082 2018-06-30          0.00
10     120082 2018-09-30          0.00
11     120082 2018-12-31          0.00
12     120082 2019-03-31          0.00
13     120082 2019-06-30          0.00
14     120082 2019-09-30          0.00
15     120082 2019-12-31          0.00
16     120082 2020-03-31          0.00
17     120088 2016-03-31          0.00
18     120088 2016-06-30          0.00
19     120088 2016-09-30          0.00
20     120088 2016-12-31          0.00
21     120088 2017-03-31          0.00
22     120088 2017-06-30          0.00
23     120088 2017-09-30          0.00
24     120088 2017-12-31          0.00
25     120088 2018-03-31          0.00
26     120088 2018-06-30          0.00
27     120088 2018-09-30          0.00
28     120088 2018-12-31          0.00
29     120088 2019-03-31      2,498.40
...       ...        ...           ...
12482  142675 2017-03-31          0.00
12483  142675 2017-06-30          0.00
12484  142675 2017-09-30          0.00
12485  142675 2017-12-31          0.00
12486  142675 2018-03-31          0.00
12487  142675 2018-06-30          0.00
12488  142675 2018-09-30          0.00
12489  142675 2018-12-31          0.00
12490  142675 2019-03-31          0.00
12491  142675 2019-06-30          0.00
12492  142675 2019-09-30          0.00
12493  142675 2019-12-31          0.00
12494  142675 2020-03-31          0.00
12495         2016-03-31  6,145,896.64
12496         2016-06-30  7,465,624.78
12497         2016-09-30  6,761,007.54
12498         2016-12-31  8,095,070.17
12499         2017-03-31  7,232,190.37
12500         2017-06-30  7,795,732.48
12501         2017-09-30  7,949,058.08
12502         2017-12-31 11,321,472.09
12503         2018-03-31  9,287,380.53
12504         2018-06-30 10,898,820.68
12505         2018-09-30 10,815,097.00
12506         2018-12-31 11,743,032.40
12507         2019-03-31  9,110,072.37
12508         2019-06-30 11,802,361.32
12509         2019-09-30 11,677,251.91
12510         2019-12-31 13,839,840.20
12511         2020-03-31  6,734,783.33

[12512 rows x 3 columns]

In [127]:
quarter_demand

                       Distributor  timestamp  siv_demand  qtr  year
0                  A K ENTERPRISES 2016-03-31        0.00    1  2016
1                  A K ENTERPRISES 2016-06-30        0.00    2  2016
2                  A K ENTERPRISES 2016-09-30        0.00    3  2016
3                  A K ENTERPRISES 2016-12-31        0.00    4  2016
4                  A K ENTERPRISES 2017-03-31        0.00    1  2017
5                  A K ENTERPRISES 2017-06-30        0.00    2  2017
6                  A K ENTERPRISES 2017-09-30        0.00    3  2017
7                  A K ENTERPRISES 2017-12-31    3,630.45    4  2017
8                  A K ENTERPRISES 2018-03-31    8,523.84    1  2018
9                  A K ENTERPRISES 2018-06-30   13,982.27    2  2018
10                 A K ENTERPRISES 2018-09-30    9,778.11    3  2018
11                 A K ENTERPRISES 2018-12-31   20,058.04    4  2018
12                 A K ENTERPRISES 2019-03-31   16,123.72    1  2019
13                 A K ENTERPRISES 2019-06-30   20,293.50    2  2019
14                 A K ENTERPRISES 2019-09-30   24,406.70    3  2019
15                 A K ENTERPRISES 2019-12-31   20,741.74    4  2019
16                 A K ENTERPRISES 2020-03-31   12,691.43    1  2020
17     ACURA INDUSTRIAL LUBRICANTS 2016-03-31        0.00    1  2016
18     ACURA INDUSTRIAL LUBRICANTS 2016-06-30        0.00    2  2016
19     ACURA INDUSTRIAL LUBRICANTS 2016-09-30        0.00    3  2016
20     ACURA INDUSTRIAL LUBRICANTS 2016-12-31        0.00    4  2016
21     ACURA INDUSTRIAL LUBRICANTS 2017-03-31        0.00    1  2017
22     ACURA INDUSTRIAL LUBRICANTS 2017-06-30        0.00    2  2017
23     ACURA INDUSTRIAL LUBRICANTS 2017-09-30        0.00    3  2017
24     ACURA INDUSTRIAL LUBRICANTS 2017-12-31        0.00    4  2017
25     ACURA INDUSTRIAL LUBRICANTS 2018-03-31        0.00    1  2018
26     ACURA INDUSTRIAL LUBRICANTS 2018-06-30        0.00    2  2018
27     ACURA INDUSTRIAL LUBRICANTS 2018-09-30        0.00    3  2018
28     ACURA INDUSTRIAL LUBRICANTS 2018-12-31        0.00    4  2018
29     ACURA INDUSTRIAL LUBRICANTS 2019-03-31        0.00    1  2019
...                            ...        ...         ...  ...   ...
2894  Vishwakarma Diesel engineers 2017-03-31        0.00    1  2017
2895  Vishwakarma Diesel engineers 2017-06-30        0.00    2  2017
2896  Vishwakarma Diesel engineers 2017-09-30        0.00    3  2017
2897  Vishwakarma Diesel engineers 2017-12-31        0.00    4  2017
2898  Vishwakarma Diesel engineers 2018-03-31        0.00    1  2018
2899  Vishwakarma Diesel engineers 2018-06-30        0.00    2  2018
2900  Vishwakarma Diesel engineers 2018-09-30        0.00    3  2018
2901  Vishwakarma Diesel engineers 2018-12-31        0.00    4  2018
2902  Vishwakarma Diesel engineers 2019-03-31        0.00    1  2019
2903  Vishwakarma Diesel engineers 2019-06-30        0.00    2  2019
2904  Vishwakarma Diesel engineers 2019-09-30        0.00    3  2019
2905  Vishwakarma Diesel engineers 2019-12-31    6,387.02    4  2019
2906  Vishwakarma Diesel engineers 2020-03-31   23,000.07    1  2020
2907              Zorin Enterprise 2016-03-31        0.00    1  2016
2908              Zorin Enterprise 2016-06-30        0.00    2  2016
2909              Zorin Enterprise 2016-09-30        0.00    3  2016
2910              Zorin Enterprise 2016-12-31        0.00    4  2016
2911              Zorin Enterprise 2017-03-31        0.00    1  2017
2912              Zorin Enterprise 2017-06-30        0.00    2  2017
2913              Zorin Enterprise 2017-09-30        0.00    3  2017
2914              Zorin Enterprise 2017-12-31        0.00    4  2017
2915              Zorin Enterprise 2018-03-31        0.00    1  2018
2916              Zorin Enterprise 2018-06-30        0.00    2  2018
2917              Zorin Enterprise 2018-09-30        0.00    3  2018
2918              Zorin Enterprise 2018-12-31        0.00    4  2018
2919              Zorin Enterprise 2019-03-31        0.00    1  2019
2920              Zorin Enterprise 2019-06-30        0.00    2  2019
2921              Zorin Enterprise 2019-09-30        0.00    3  2019
2922              Zorin Enterprise 2019-12-31    6,995.47    4  2019
2923              Zorin Enterprise 2020-03-31    7,700.78    1  2020

[2924 rows x 5 columns]

In [128]:
quarter_demand_non_zero = quarter_demand.query('siv_demand != 0').reset_index()

In [129]:
quarter_demand_non_zero

      index                    Distributor  timestamp  siv_demand  qtr  year
0         7                A K ENTERPRISES 2017-12-31    3,630.45    4  2017
1         8                A K ENTERPRISES 2018-03-31    8,523.84    1  2018
2         9                A K ENTERPRISES 2018-06-30   13,982.27    2  2018
3        10                A K ENTERPRISES 2018-09-30    9,778.11    3  2018
4        11                A K ENTERPRISES 2018-12-31   20,058.04    4  2018
5        12                A K ENTERPRISES 2019-03-31   16,123.72    1  2019
6        13                A K ENTERPRISES 2019-06-30   20,293.50    2  2019
7        14                A K ENTERPRISES 2019-09-30   24,406.70    3  2019
8        15                A K ENTERPRISES 2019-12-31   20,741.74    4  2019
9        16                A K ENTERPRISES 2020-03-31   12,691.43    1  2020
10       30    ACURA INDUSTRIAL LUBRICANTS 2019-06-30    1,920.39    2  2019
11       31    ACURA INDUSTRIAL LUBRICANTS 2019-09-30    7,617.06    3  2019
12       32    ACURA INDUSTRIAL LUBRICANTS 2019-12-31   30,159.88    4  2019
13       33    ACURA INDUSTRIAL LUBRICANTS 2020-03-31   22,552.27    1  2020
14       51                   ANAND MOTORS 2016-03-31   61,753.21    1  2016
15       52                   ANAND MOTORS 2016-06-30   67,603.94    2  2016
16       53                   ANAND MOTORS 2016-09-30   63,494.42    3  2016
17       54                   ANAND MOTORS 2016-12-31   72,119.06    4  2016
18       55                   ANAND MOTORS 2017-03-31   63,159.41    1  2017
19       56                   ANAND MOTORS 2017-06-30   85,704.50    2  2017
20       57                   ANAND MOTORS 2017-09-30   77,918.11    3  2017
21       58                   ANAND MOTORS 2017-12-31   89,592.84    4  2017
22       59                   ANAND MOTORS 2018-03-31  104,750.23    1  2018
23       60                   ANAND MOTORS 2018-06-30   87,936.12    2  2018
24       61                   ANAND MOTORS 2018-09-30   53,030.41    3  2018
25       62                   ANAND MOTORS 2018-12-31  117,761.29    4  2018
26       63                   ANAND MOTORS 2019-03-31   90,898.58    1  2019
27       64                   ANAND MOTORS 2019-06-30  104,957.27    2  2019
28       65                   ANAND MOTORS 2019-09-30  102,429.16    3  2019
29       66                   ANAND MOTORS 2019-12-31  135,305.72    4  2019
...     ...                            ...        ...         ...  ...   ...
1440   2804           V.K. OIL & CHEMICALS 2020-03-31   27,744.04    1  2020
1441   2820                  V.K.LUBRICANT 2019-12-31    7,917.50    4  2019
1442   2821                  V.K.LUBRICANT 2020-03-31   12,049.00    1  2020
1443   2825               VORA ENTERPRISES 2016-12-31   23,790.53    4  2016
1444   2826               VORA ENTERPRISES 2017-03-31   26,923.79    1  2017
1445   2827               VORA ENTERPRISES 2017-06-30   30,044.80    2  2017
1446   2828               VORA ENTERPRISES 2017-09-30   39,959.88    3  2017
1447   2829               VORA ENTERPRISES 2017-12-31   59,040.04    4  2017
1448   2830               VORA ENTERPRISES 2018-03-31  115,998.99    1  2018
1449   2831               VORA ENTERPRISES 2018-06-30  132,009.11    2  2018
1450   2832               VORA ENTERPRISES 2018-09-30  144,412.21    3  2018
1451   2833               VORA ENTERPRISES 2018-12-31  150,226.57    4  2018
1452   2834               VORA ENTERPRISES 2019-03-31  138,558.32    1  2019
1453   2835               VORA ENTERPRISES 2019-06-30  147,671.98    2  2019
1454   2836               VORA ENTERPRISES 2019-09-30  141,954.30    3  2019
1455   2837               VORA ENTERPRISES 2019-12-31  215,837.53    4  2019
1456   2838               VORA ENTERPRISES 2020-03-31  104,694.45    1  2020
1457   2851  Veerabhadreshwara Enterprises 2019-03-31   11,988.50    1  2019
1458   2852  Veerabhadreshwara Enterprises 2019-06-30   13,548.01    2  2019
1459   2853  Veerabhadreshwara Enterprises 2019-09-30   13,375.36    3  2019
1460   2854  Veerabhadreshwara Enterprises 2019-12-31   13,487.69    4  2019
1461   2855  Veerabhadreshwara Enterprises 2020-03-31    8,972.98    1  2020
1462   2871            Vibarja Enterprises 2019-12-31   60,832.04    4  2019
1463   2872            Vibarja Enterprises 2020-03-31   71,913.34    1  2020
1464   2888             Vinayak Lubricants 2019-12-31    3,312.00    4  2019
1465   2889             Vinayak Lubricants 2020-03-31    1,752.00    1  2020
1466   2905   Vishwakarma Diesel engineers 2019-12-31    6,387.02    4  2019
1467   2906   Vishwakarma Diesel engineers 2020-03-31   23,000.07    1  2020
1468   2922               Zorin Enterprise 2019-12-31    6,995.47    4  2019
1469   2923               Zorin Enterprise 2020-03-31    7,700.78    1  2020

[1470 rows x 6 columns]

In [130]:
demand_avg_qtr_distbr = quarter_demand_non_zero.groupby(['Distributor','qtr'])['siv_demand'].mean().reset_index()

In [131]:
demand_avg_qtr_distbr

                            Distributor  qtr  siv_demand
0                       A K ENTERPRISES    1   12,446.33
1                       A K ENTERPRISES    2   17,137.89
2                       A K ENTERPRISES    3   17,092.40
3                       A K ENTERPRISES    4   14,810.08
4           ACURA INDUSTRIAL LUBRICANTS    1   22,552.27
5           ACURA INDUSTRIAL LUBRICANTS    2    1,920.39
6           ACURA INDUSTRIAL LUBRICANTS    3    7,617.06
7           ACURA INDUSTRIAL LUBRICANTS    4   30,159.88
8                          ANAND MOTORS    1   70,786.09
9                          ANAND MOTORS    2   86,550.46
10                         ANAND MOTORS    3   74,218.03
11                         ANAND MOTORS    4  103,694.73
12                           AUTO WORLD    1   19,031.89
13                           AUTO WORLD    2   20,274.44
14                           AUTO WORLD    3   17,241.87
15                           AUTO WORLD    4   21,289.65
16   AUTOMATION AND GENERAL ELECTRIC CO    1   46,124.65
17   AUTOMATION AND GENERAL ELECTRIC CO    2   55,831.73
18   AUTOMATION AND GENERAL ELECTRIC CO    3   56,605.08
19   AUTOMATION AND GENERAL ELECTRIC CO    4   36,529.96
20                     AWESH AUTOMOTIVE    1    5,976.26
21                     AWESH AUTOMOTIVE    2    8,484.86
22                     AWESH AUTOMOTIVE    3    1,196.67
23                     AWESH AUTOMOTIVE    4    4,057.66
24                       Aashvi Traders    1   34,385.32
25                       Aashvi Traders    2   17,113.00
26                       Aashvi Traders    3   45,639.78
27                       Aashvi Traders    4   85,853.00
28                     Adila Enterprise    1    3,359.81
29                     Adila Enterprise    4    3,506.66
..                                  ...  ...         ...
538              Super Transports P Ltd    4  422,125.04
539               Swastik International    1   13,045.16
540               Swastik International    2   19,546.31
541               Swastik International    3   11,885.44
542               Swastik International    4   11,839.40
543        The Yamuna Syndicate Limited    1   18,030.10
544        The Yamuna Syndicate Limited    3    5,075.50
545        The Yamuna Syndicate Limited    4   11,352.80
546                V.K. OIL & CHEMICALS    1   42,905.34
547                V.K. OIL & CHEMICALS    2   51,359.58
548                V.K. OIL & CHEMICALS    3   44,598.99
549                V.K. OIL & CHEMICALS    4   39,092.49
550                       V.K.LUBRICANT    1   12,049.00
551                       V.K.LUBRICANT    4    7,917.50
552                    VORA ENTERPRISES    1   96,543.89
553                    VORA ENTERPRISES    2  103,241.96
554                    VORA ENTERPRISES    3  108,775.46
555                    VORA ENTERPRISES    4  112,223.67
556       Veerabhadreshwara Enterprises    1   10,480.74
557       Veerabhadreshwara Enterprises    2   13,548.01
558       Veerabhadreshwara Enterprises    3   13,375.36
559       Veerabhadreshwara Enterprises    4   13,487.69
560                 Vibarja Enterprises    1   71,913.34
561                 Vibarja Enterprises    4   60,832.04
562                  Vinayak Lubricants    1    1,752.00
563                  Vinayak Lubricants    4    3,312.00
564        Vishwakarma Diesel engineers    1   23,000.07
565        Vishwakarma Diesel engineers    4    6,387.02
566                    Zorin Enterprise    1    7,700.78
567                    Zorin Enterprise    4    6,995.47

[568 rows x 3 columns]

In [132]:
df_19_20

,Distributor,Material,timestamp,EMAPS,ICB,SIV,SOV,qtr,year
0,A K ENTERPRISES,123331,2019-01-01,0,0.00,0.00,0.00,1,2019
1,A K ENTERPRISES,123331,2019-02-01,0,0.00,0.00,0.00,1,2019
2,A K ENTERPRISES,123331,2019-03-01,0,0.00,0.00,0.00,1,2019
3,A K ENTERPRISES,123331,2019-04-01,0,0.00,0.00,0.00,2,2019
4,A K ENTERPRISES,123331,2019-05-01,0,0.00,0.00,0.00,2,2019
5,A K ENTERPRISES,123331,2019-06-01,0,0.00,0.00,0.00,2,2019
6,A K ENTERPRISES,123331,2019-07-01,0,0.00,0.00,0.00,3,2019
7,A K ENTERPRISES,123331,2019-08-01,0,0.00,0.00,0.00,3,2019
8,A K ENTERPRISES,123331,2019-09-01,0,0.00,0.00,0.00,3,2019
9,A K ENTERPRISES,123331,2019-10-01,0,0.00,0.00,0.00,4,2019
10,A K ENTERPRISES,123331,2019-11-01,0,0.00,0.00,0.00,4,2019
11,A K ENTERPRISES,123331,2019-12-01,0,0.00,0.00,0.00,4,2019
12,A K ENTERPRISES,123331,2020-01-01,0,20.00,20.00,0.00,1,2020
13,A K ENTERPRISES,123331,2020-02-01,0,20.00,0.00,0.00,1,2020
14,A K ENTERPRISES,130393,2019-01-01,0,0.00,0.00,0.00,1,2019
15,A K ENTERPRISES,130393,2019-02-01,0,0.00,0.00,0.00,1,2019
16,A K ENTERPRISES,130393,2019-03-01,0,0.00,0.00,0.00,1,2019
17,A K ENTERPRISES,130393,2019-04-01,0,0.00,0.00,0.00,2,2019
18,A K ENTERPRISES,130393,2019-05-01,0,0.00,0.00,0.00,2,2019
19,A K ENTERPRISES,130393,2019-06-01,0,0.00,0.00,0.00,2,2019
20,A K ENTERPRISES,130393,2019-07-01,0,0.00,0.00,0.00,3,2019
21,A K ENTERPRISES,130393,2019-08-01,0,0.00,0.00,0.00,3,2019
22,A K ENTERPRISES,130393,2019-09-01,0,0.00,0.00,0.00,3,2019
23,A K ENTERPRISES,130393,2019-10-01,0,0.00,0.00,0.00,4,2019
24,A K ENTERPRISES,130393,2019-11-01,0,0.00,20.00,20.00,4,2019
25,A K ENTERPRISES,130393,2019-12-01,14,0.00,0.00,0.00,4,2019
26,A K ENTERPRISES,130393,2020-01-01,0,0.00,0.00,0.00,1,2020
27,A K ENTERPRISES,130393,2020-02-01,0,0.00,0.00,0.00,1,2020
28,A K ENTERPRISES,132568,2019-01-01,0,0.00,0.00,0.00,1,2019
29,A K ENTERPRISES,132568,2019-02-01,0,0.00,0.00,0.00,1,2019
...,...,...,...,...,...,...,...,...,...
282308,Zorin Enterprise,142291,2020-01-01,0,120.00,0.00,60.00,1,2020
282309,Zorin Enterprise,142291,2020-02-01,0,105.00,0.00,15.00,1,2020
282310,Zorin Enterprise,142528,2019-01-01,0,0.00,0.00,0.00,1,2019
282311,Zorin Enterprise,142528,2019-02-01,0,0.00,0.00,0.00,1,2019
282312,Zorin Enterprise,142528,2019-03-01,0,0.00,0.00,0.00,1,2019
282313,Zorin Enterprise,142528,2019-04-01,0,0.00,0.00,0.00,2,2019
282314,Zorin Enterprise,142528,2019-05-01,0,0.00,0.00,0.00,2,2019
282315,Zorin Enterprise,142528,2019-06-01,0,0.00,0.00,0.00,2,2019
282316,Zorin Enterprise,142528,2019-07-01,0,0.00,0.00,0.00,3,2019
282317,Zorin Enterprise,142528,2019-08-01,0,0.00,0.00,0.00,3,2019
282318,Zorin Enterprise,142528,2019-09-01,0,0.00,0.00,0.00,3,2019
282319,Zorin Enterprise,142528,2019-10-01,0,0.00,0.00,0.00,4,2019
282320,Zorin Enterprise,142528,2019-11-01,0,0.00,198.00,0.00,4,2019
282321,Zorin Enterprise,142528,2019-12-01,166,180.00,0.00,18.00,4,2019
282322,Zorin Enterprise,142528,2020-01-01,0,180.00,0.00,0.00,1,2020
282323,Zorin Enterprise,142528,2020-02-01,0,162.00,0.00,18.00,1,2020
282324,Zorin Enterprise,142529,2019-01-01,0,0.00,0.00,0.00,1,2019
282325,Zorin Enterprise,142529,2019-02-01,0,0.00,0.00,0.00,1,2019
282326,Zorin Enterprise,142529,2019-03-01,0,0.00,0.00,0.00,1,2019
282327,Zorin Enterprise,142529,2019-04-01,0,0.00,0.00,0.00,2,2019
282328,Zorin Enterprise,142529,2019-05-01,0,0.00,0.00,0.00,2,2019
282329,Zorin Enterprise,142529,2019-06-01,0,0.00,0.00,0.00,2,2019
282330,Zorin Enterprise,142529,2019-07-01,0,0.00,0.00,0.00,3,2019
282331,Zorin Enterprise,142529,2019-08-01,0,0.00,0.00,0.00,3,2019
282332,Zorin Enterprise,142529,2019-09-01,0,0.00,0.00,0.00,3,2019
282333,Zorin Enterprise,142529,2019-10-01,0,0.00,0.00,0.00,4,2019
282334,Zorin Enterprise,142529,2019-11-01,0,0.00,220.00,0.00,4,2019
282335,Zorin Enterprise,142529,2019-12-01,156,160.00,0.00,60.00,4,2019
282336,Zorin Enterprise,142529,2020-01-01,0,140.00,0.00,20.00,1,2020
282337,Zorin Enterprise,142529,2020-02-01,0,520.00,440.00,60.00,1,2020

In [ ]:
df_19_20.groupby(['Distributor','Material'])['SIV'].sum().reset_index()

In [133]:
df_19_20_gr = df_19_20.groupby(['Distributor','Material','year','qtr'])['SIV'].sum().reset_index()

df_19_20_gr_2 = df_19_20_gr.groupby(['Distributor','Material','qtr'])['SIV'].mean().reset_index()

In [142]:
df_19_20_gr_2.query('Distributor == "A K ENTERPRISES" & qtr ==1')

         Distributor  Material  qtr      SIV
0    A K ENTERPRISES    123331    1    10.00
4    A K ENTERPRISES    130393    1     0.00
8    A K ENTERPRISES    132568    1     0.00
12   A K ENTERPRISES    135371    1     0.00
16   A K ENTERPRISES    135402    1     0.00
20   A K ENTERPRISES    136071    1     6.00
24   A K ENTERPRISES    139286    1     0.00
28   A K ENTERPRISES    139312    1     0.00
32   A K ENTERPRISES    139314    1     0.00
36   A K ENTERPRISES    139341    1     0.00
40   A K ENTERPRISES    139343    1     0.00
44   A K ENTERPRISES    139362    1   104.00
48   A K ENTERPRISES    139385    1     0.00
52   A K ENTERPRISES    139386    1     0.00
56   A K ENTERPRISES    139445    1     0.00
60   A K ENTERPRISES    139448    1     0.00
64   A K ENTERPRISES    139449    1     0.00
68   A K ENTERPRISES    139451    1     0.00
72   A K ENTERPRISES    139452    1     0.00
76   A K ENTERPRISES    139453    1     0.00
80   A K ENTERPRISES    139457    1     0.00
84   A K ENTERPRISES    139464    1   320.00
88   A K ENTERPRISES    139465    1   450.00
92   A K ENTERPRISES    139467    1    50.00
96   A K ENTERPRISES    139468    1     0.00
100  A K ENTERPRISES    139470    1   100.00
104  A K ENTERPRISES    139471    1     0.00
108  A K ENTERPRISES    139472    1     0.00
112  A K ENTERPRISES    139475    1    50.00
116  A K ENTERPRISES    139478    1     0.00
..               ...       ...  ...      ...
440  A K ENTERPRISES    141399    1   240.00
444  A K ENTERPRISES    141404    1     0.00
448  A K ENTERPRISES    141409    1   540.00
452  A K ENTERPRISES    141410    1   120.00
456  A K ENTERPRISES    141413    1   240.00
460  A K ENTERPRISES    141414    1 1,512.00
464  A K ENTERPRISES    141415    1   840.00
468  A K ENTERPRISES    141421    1     0.00
472  A K ENTERPRISES    141422    1     0.00
476  A K ENTERPRISES    141423    1   152.42
480  A K ENTERPRISES    141424    1   152.42
484  A K ENTERPRISES    141425    1   127.02
488  A K ENTERPRISES    141426    1     0.00
492  A K ENTERPRISES    141427    1    57.16
496  A K ENTERPRISES    141452    1   240.00
500  A K ENTERPRISES    141457    1     0.00
504  A K ENTERPRISES    141516    1    70.00
508  A K ENTERPRISES    141517    1    60.00
512  A K ENTERPRISES    141661    1   180.00
516  A K ENTERPRISES    141900    1    37.50
520  A K ENTERPRISES    141901    1     0.00
524  A K ENTERPRISES    141908    1     0.00
528  A K ENTERPRISES    141979    1     0.00
532  A K ENTERPRISES    141980    1     0.00
536  A K ENTERPRISES    141993    1     0.00
540  A K ENTERPRISES    142290    1     0.00
544  A K ENTERPRISES    142291    1   360.00
548  A K ENTERPRISES    142528    1 1,053.00
552  A K ENTERPRISES    142529    1   480.00
556  A K ENTERPRISES    142651    1     0.00

[140 rows x 4 columns]

In [143]:
df_19_20_gr_2

            Distributor  Material  qtr    SIV
0       A K ENTERPRISES    123331    1  10.00
1       A K ENTERPRISES    123331    2   0.00
2       A K ENTERPRISES    123331    3   0.00
3       A K ENTERPRISES    123331    4   0.00
4       A K ENTERPRISES    130393    1   0.00
5       A K ENTERPRISES    130393    2   0.00
6       A K ENTERPRISES    130393    3   0.00
7       A K ENTERPRISES    130393    4  20.00
8       A K ENTERPRISES    132568    1   0.00
9       A K ENTERPRISES    132568    2   0.00
10      A K ENTERPRISES    132568    3   0.00
11      A K ENTERPRISES    132568    4  17.59
12      A K ENTERPRISES    135371    1   0.00
13      A K ENTERPRISES    135371    2   0.00
14      A K ENTERPRISES    135371    3   0.00
15      A K ENTERPRISES    135371    4  18.39
16      A K ENTERPRISES    135402    1   0.00
17      A K ENTERPRISES    135402    2   0.00
18      A K ENTERPRISES    135402    3   0.00
19      A K ENTERPRISES    135402    4   0.00
20      A K ENTERPRISES    136071    1   6.00
21      A K ENTERPRISES    136071    2  72.00
22      A K ENTERPRISES    136071    3  24.00
23      A K ENTERPRISES    136071    4  24.00
24      A K ENTERPRISES    139286    1   0.00
25      A K ENTERPRISES    139286    2   0.00
26      A K ENTERPRISES    139286    3 208.00
27      A K ENTERPRISES    139286    4   0.00
28      A K ENTERPRISES    139312    1   0.00
29      A K ENTERPRISES    139312    2   0.00
...                 ...       ...  ...    ...
80638  Zorin Enterprise    141662    3   0.00
80639  Zorin Enterprise    141662    4  90.00
80640  Zorin Enterprise    141979    1 100.00
80641  Zorin Enterprise    141979    2   0.00
80642  Zorin Enterprise    141979    3   0.00
80643  Zorin Enterprise    141979    4 800.00
80644  Zorin Enterprise    141980    1 450.00
80645  Zorin Enterprise    141980    2   0.00
80646  Zorin Enterprise    141980    3   0.00
80647  Zorin Enterprise    141980    4 360.00
80648  Zorin Enterprise    141993    1 375.00
80649  Zorin Enterprise    141993    2   0.00
80650  Zorin Enterprise    141993    3   0.00
80651  Zorin Enterprise    141993    4 150.00
80652  Zorin Enterprise    142290    1   0.00
80653  Zorin Enterprise    142290    2   0.00
80654  Zorin Enterprise    142290    3   0.00
80655  Zorin Enterprise    142290    4 360.00
80656  Zorin Enterprise    142291    1   0.00
80657  Zorin Enterprise    142291    2   0.00
80658  Zorin Enterprise    142291    3   0.00
80659  Zorin Enterprise    142291    4 180.00
80660  Zorin Enterprise    142528    1   0.00
80661  Zorin Enterprise    142528    2   0.00
80662  Zorin Enterprise    142528    3   0.00
80663  Zorin Enterprise    142528    4 198.00
80664  Zorin Enterprise    142529    1 220.00
80665  Zorin Enterprise    142529    2   0.00
80666  Zorin Enterprise    142529    3   0.00
80667  Zorin Enterprise    142529    4 220.00

[80668 rows x 4 columns]

In [145]:
df_19_20_gr_2.pivot_table(index=['Distributor','Material'],columns='qtr',values='SIV',aggfunc='mean', fill_value=0).reset_index()

qtr         Distributor  Material      1      2      3      4
0       A K ENTERPRISES    123331  10.00   0.00   0.00   0.00
1       A K ENTERPRISES    130393   0.00   0.00   0.00  20.00
2       A K ENTERPRISES    132568   0.00   0.00   0.00  17.59
3       A K ENTERPRISES    135371   0.00   0.00   0.00  18.39
4       A K ENTERPRISES    135402   0.00   0.00   0.00   0.00
5       A K ENTERPRISES    136071   6.00  72.00  24.00  24.00
6       A K ENTERPRISES    139286   0.00   0.00 208.00   0.00
7       A K ENTERPRISES    139312   0.00   0.00   0.00   0.00
8       A K ENTERPRISES    139314   0.00 208.00   0.00   0.00
9       A K ENTERPRISES    139341   0.00 208.00   0.00   0.00
10      A K ENTERPRISES    139343   0.00   0.00   0.00   0.00
11      A K ENTERPRISES    139362 104.00   0.00   0.00   0.00
12      A K ENTERPRISES    139385   0.00   0.00   0.00   0.00
13      A K ENTERPRISES    139386   0.00   0.00   0.00   0.00
14      A K ENTERPRISES    139445   0.00   0.00   0.00   0.00
15      A K ENTERPRISES    139448   0.00 100.00   0.00   0.00
16      A K ENTERPRISES    139449   0.00 250.00   0.00   0.00
17      A K ENTERPRISES    139451   0.00 262.50   0.00   0.00
18      A K ENTERPRISES    139452   0.00  40.00   0.00   0.00
19      A K ENTERPRISES    139453   0.00   0.00   0.00   0.00
20      A K ENTERPRISES    139457   0.00   0.00   0.00   0.00
21      A K ENTERPRISES    139464 320.00   0.00 100.00   0.00
22      A K ENTERPRISES    139465 450.00 540.00   0.00   0.00
23      A K ENTERPRISES    139467  50.00   0.00   0.00  40.00
24      A K ENTERPRISES    139468   0.00   0.00   0.00   0.00
25      A K ENTERPRISES    139470 100.00 200.00 200.00 200.00
26      A K ENTERPRISES    139471   0.00   0.00   0.00   0.00
27      A K ENTERPRISES    139472   0.00   0.00  60.00 120.00
28      A K ENTERPRISES    139475  50.00   0.00   0.00 100.00
29      A K ENTERPRISES    139478   0.00   0.00   0.00   0.00
...                 ...       ...    ...    ...    ...    ...
20137  Zorin Enterprise    140471   0.00   0.00   0.00  40.00
20138  Zorin Enterprise    140472 105.00   0.00   0.00  28.00
20139  Zorin Enterprise    140473 135.00   0.00   0.00  36.00
20140  Zorin Enterprise    140578   0.00   0.00   0.00 200.00
20141  Zorin Enterprise    140579   0.00   0.00   0.00  70.00
20142  Zorin Enterprise    140581   0.00   0.00   0.00 200.00
20143  Zorin Enterprise    141229  35.00   0.00   0.00   0.00
20144  Zorin Enterprise    141381  50.00   0.00   0.00 100.00
20145  Zorin Enterprise    141390  37.50   0.00   0.00   0.00
20146  Zorin Enterprise    141391  50.00   0.00   0.00   0.00
20147  Zorin Enterprise    141394   0.00   0.00   0.00  50.00
20148  Zorin Enterprise    141395   0.00   0.00   0.00  75.00
20149  Zorin Enterprise    141399 336.00   0.00   0.00  48.00
20150  Zorin Enterprise    141409   0.00   0.00   0.00  21.60
20151  Zorin Enterprise    141410   0.00   0.00   0.00  24.00
20152  Zorin Enterprise    141413 240.00   0.00   0.00  24.00
20153  Zorin Enterprise    141421   0.00   0.00   0.00 152.42
20154  Zorin Enterprise    141422  38.10   0.00   0.00  76.21
20155  Zorin Enterprise    141425   0.00   0.00   0.00  63.51
20156  Zorin Enterprise    141427 285.79   0.00   0.00  45.73
20157  Zorin Enterprise    141457 120.00   0.00   0.00   0.00
20158  Zorin Enterprise    141661  60.00   0.00   0.00 120.00
20159  Zorin Enterprise    141662  60.00   0.00   0.00  90.00
20160  Zorin Enterprise    141979 100.00   0.00   0.00 800.00
20161  Zorin Enterprise    141980 450.00   0.00   0.00 360.00
20162  Zorin Enterprise    141993 375.00   0.00   0.00 150.00
20163  Zorin Enterprise    142290   0.00   0.00   0.00 360.00
20164  Zorin Enterprise    142291   0.00   0.00   0.00 180.00
20165  Zorin Enterprise    142528   0.00   0.00   0.00 198.00
20166  Zorin Enterprise    142529 220.00   0.00   0.00 220.00

[20167 rows x 6 columns]

In [146]:
quarter_demand

                       Distributor  timestamp  siv_demand  qtr  year
0                  A K ENTERPRISES 2016-03-31        0.00    1  2016
1                  A K ENTERPRISES 2016-06-30        0.00    2  2016
2                  A K ENTERPRISES 2016-09-30        0.00    3  2016
3                  A K ENTERPRISES 2016-12-31        0.00    4  2016
4                  A K ENTERPRISES 2017-03-31        0.00    1  2017
5                  A K ENTERPRISES 2017-06-30        0.00    2  2017
6                  A K ENTERPRISES 2017-09-30        0.00    3  2017
7                  A K ENTERPRISES 2017-12-31    3,630.45    4  2017
8                  A K ENTERPRISES 2018-03-31    8,523.84    1  2018
9                  A K ENTERPRISES 2018-06-30   13,982.27    2  2018
10                 A K ENTERPRISES 2018-09-30    9,778.11    3  2018
11                 A K ENTERPRISES 2018-12-31   20,058.04    4  2018
12                 A K ENTERPRISES 2019-03-31   16,123.72    1  2019
13                 A K ENTERPRISES 2019-06-30   20,293.50    2  2019
14                 A K ENTERPRISES 2019-09-30   24,406.70    3  2019
15                 A K ENTERPRISES 2019-12-31   20,741.74    4  2019
16                 A K ENTERPRISES 2020-03-31   12,691.43    1  2020
17     ACURA INDUSTRIAL LUBRICANTS 2016-03-31        0.00    1  2016
18     ACURA INDUSTRIAL LUBRICANTS 2016-06-30        0.00    2  2016
19     ACURA INDUSTRIAL LUBRICANTS 2016-09-30        0.00    3  2016
20     ACURA INDUSTRIAL LUBRICANTS 2016-12-31        0.00    4  2016
21     ACURA INDUSTRIAL LUBRICANTS 2017-03-31        0.00    1  2017
22     ACURA INDUSTRIAL LUBRICANTS 2017-06-30        0.00    2  2017
23     ACURA INDUSTRIAL LUBRICANTS 2017-09-30        0.00    3  2017
24     ACURA INDUSTRIAL LUBRICANTS 2017-12-31        0.00    4  2017
25     ACURA INDUSTRIAL LUBRICANTS 2018-03-31        0.00    1  2018
26     ACURA INDUSTRIAL LUBRICANTS 2018-06-30        0.00    2  2018
27     ACURA INDUSTRIAL LUBRICANTS 2018-09-30        0.00    3  2018
28     ACURA INDUSTRIAL LUBRICANTS 2018-12-31        0.00    4  2018
29     ACURA INDUSTRIAL LUBRICANTS 2019-03-31        0.00    1  2019
...                            ...        ...         ...  ...   ...
2894  Vishwakarma Diesel engineers 2017-03-31        0.00    1  2017
2895  Vishwakarma Diesel engineers 2017-06-30        0.00    2  2017
2896  Vishwakarma Diesel engineers 2017-09-30        0.00    3  2017
2897  Vishwakarma Diesel engineers 2017-12-31        0.00    4  2017
2898  Vishwakarma Diesel engineers 2018-03-31        0.00    1  2018
2899  Vishwakarma Diesel engineers 2018-06-30        0.00    2  2018
2900  Vishwakarma Diesel engineers 2018-09-30        0.00    3  2018
2901  Vishwakarma Diesel engineers 2018-12-31        0.00    4  2018
2902  Vishwakarma Diesel engineers 2019-03-31        0.00    1  2019
2903  Vishwakarma Diesel engineers 2019-06-30        0.00    2  2019
2904  Vishwakarma Diesel engineers 2019-09-30        0.00    3  2019
2905  Vishwakarma Diesel engineers 2019-12-31    6,387.02    4  2019
2906  Vishwakarma Diesel engineers 2020-03-31   23,000.07    1  2020
2907              Zorin Enterprise 2016-03-31        0.00    1  2016
2908              Zorin Enterprise 2016-06-30        0.00    2  2016
2909              Zorin Enterprise 2016-09-30        0.00    3  2016
2910              Zorin Enterprise 2016-12-31        0.00    4  2016
2911              Zorin Enterprise 2017-03-31        0.00    1  2017
2912              Zorin Enterprise 2017-06-30        0.00    2  2017
2913              Zorin Enterprise 2017-09-30        0.00    3  2017
2914              Zorin Enterprise 2017-12-31        0.00    4  2017
2915              Zorin Enterprise 2018-03-31        0.00    1  2018
2916              Zorin Enterprise 2018-06-30        0.00    2  2018
2917              Zorin Enterprise 2018-09-30        0.00    3  2018
2918              Zorin Enterprise 2018-12-31        0.00    4  2018
2919              Zorin Enterprise 2019-03-31        0.00    1  2019
2920              Zorin Enterprise 2019-06-30        0.00    2  2019
2921              Zorin Enterprise 2019-09-30        0.00    3  2019
2922              Zorin Enterprise 2019-12-31    6,995.47    4  2019
2923              Zorin Enterprise 2020-03-31    7,700.78    1  2020

[2924 rows x 5 columns]

In [150]:
quarter_demand_mat_dist = demand_data_long_format.groupby(['Distributor','matCode'])['siv_demand'].resample('Q').sum().reset_index()

KeyboardInterrupt:

In [149]:
demand_data_long_format['qtr']=quarter_demand.timestamp.dt.quarter
demand_data_long_format['year'] = quarter_demand.timestamp.dt.year

                Distributor matCode  siv_demand  qtr  year
timestamp
2016-01-01  A K ENTERPRISES  120082        0.00    1  2016
2016-01-01  A K ENTERPRISES  120088        0.00    1  2016
2016-01-01  A K ENTERPRISES  120089        0.00    1  2016
2016-01-01  A K ENTERPRISES  120182        0.00    1  2016
2016-01-01  A K ENTERPRISES  120229        0.00    1  2016

In [153]:
demand_data_long_format['month'] = demand_data_long_format.index.month

In [154]:
demand_data_long_format.head()

                Distributor matCode  siv_demand  qtr  year  month
timestamp
2016-01-01  A K ENTERPRISES  120082        0.00    1  2016      1
2016-01-01  A K ENTERPRISES  120088        0.00    1  2016      1
2016-01-01  A K ENTERPRISES  120089        0.00    1  2016      1
2016-01-01  A K ENTERPRISES  120182        0.00    1  2016      1
2016-01-01  A K ENTERPRISES  120229        0.00    1  2016      1

In [160]:
curr_mat_codes = df_19_20.Material.unique().tolist()

In [161]:
len(curr_mat_codes)

730

In [162]:
demand_data_long_format_mat_curr = demand_data_long_format.loc[demand_data_long_format.matCode.isin(curr_mat_codes)]

In [163]:
demand_data_long_format_mat_curr.shape

(6241500, 6)

In [164]:
demand_data_long_format.shape

(6284300, 6)

In [165]:
demand_data_long_format_chk = demand_data_long_format_mat_curr.groupby(['Distributor','matCode','qtr','month'])['siv_demand'].mean().reset_index()

In [158]:
demand_data_long_format_chk

              Distributor matCode  qtr  month  siv_demand
0         A K ENTERPRISES  120082    1      1        0.00
1         A K ENTERPRISES  120082    1      2        0.00
2         A K ENTERPRISES  120082    1      3        0.00
3         A K ENTERPRISES  120082    2      4        0.00
4         A K ENTERPRISES  120082    2      5        0.00
5         A K ENTERPRISES  120082    2      6        0.00
6         A K ENTERPRISES  120082    3      7        0.00
7         A K ENTERPRISES  120082    3      8        0.00
8         A K ENTERPRISES  120082    3      9        0.00
9         A K ENTERPRISES  120082    4     10        0.00
10        A K ENTERPRISES  120082    4     11        0.00
11        A K ENTERPRISES  120082    4     12        0.00
12        A K ENTERPRISES  120088    1      1        0.00
13        A K ENTERPRISES  120088    1      2        0.00
14        A K ENTERPRISES  120088    1      3        0.00
15        A K ENTERPRISES  120088    2      4        0.00
16        A K ENTERPRISES  120088    2      5        0.00
17        A K ENTERPRISES  120088    2      6        0.00
18        A K ENTERPRISES  120088    3      7        0.00
19        A K ENTERPRISES  120088    3      8        0.00
20        A K ENTERPRISES  120088    3      9        0.00
21        A K ENTERPRISES  120088    4     10        0.00
22        A K ENTERPRISES  120088    4     11        0.00
23        A K ENTERPRISES  120088    4     12        0.00
24        A K ENTERPRISES  120089    1      1        0.00
25        A K ENTERPRISES  120089    1      2        0.00
26        A K ENTERPRISES  120089    1      3        0.00
27        A K ENTERPRISES  120089    2      4        0.00
28        A K ENTERPRISES  120089    2      5        0.00
29        A K ENTERPRISES  120089    2      6        0.00
...                   ...     ...  ...    ...         ...
1508202  Zorin Enterprise  142652    3      7        0.00
1508203  Zorin Enterprise  142652    3      8        0.00
1508204  Zorin Enterprise  142652    3      9        0.00
1508205  Zorin Enterprise  142652    4     10        0.00
1508206  Zorin Enterprise  142652    4     11        0.00
1508207  Zorin Enterprise  142652    4     12        0.00
1508208  Zorin Enterprise  142654    1      1        0.00
1508209  Zorin Enterprise  142654    1      2        0.00
1508210  Zorin Enterprise  142654    1      3        0.00
1508211  Zorin Enterprise  142654    2      4        0.00
1508212  Zorin Enterprise  142654    2      5        0.00
1508213  Zorin Enterprise  142654    2      6        0.00
1508214  Zorin Enterprise  142654    3      7        0.00
1508215  Zorin Enterprise  142654    3      8        0.00
1508216  Zorin Enterprise  142654    3      9        0.00
1508217  Zorin Enterprise  142654    4     10        0.00
1508218  Zorin Enterprise  142654    4     11        0.00
1508219  Zorin Enterprise  142654    4     12        0.00
1508220  Zorin Enterprise  142675    1      1        0.00
1508221  Zorin Enterprise  142675    1      2        0.00
1508222  Zorin Enterprise  142675    1      3        0.00
1508223  Zorin Enterprise  142675    2      4        0.00
1508224  Zorin Enterprise  142675    2      5        0.00
1508225  Zorin Enterprise  142675    2      6        0.00
1508226  Zorin Enterprise  142675    3      7        0.00
1508227  Zorin Enterprise  142675    3      8        0.00
1508228  Zorin Enterprise  142675    3      9        0.00
1508229  Zorin Enterprise  142675    4     10        0.00
1508230  Zorin Enterprise  142675    4     11        0.00
1508231  Zorin Enterprise  142675    4     12        0.00

[1508232 rows x 5 columns]

In [166]:
demand_data_long_format_chk.query("Distributor == 'A K ENTERPRISES' & qtr ==1 & month == 1")

          Distributor  matCode  qtr  month  siv_demand
0     A K ENTERPRISES   120082    1      1        0.00
12    A K ENTERPRISES   120088    1      1        0.00
24    A K ENTERPRISES   120089    1      1        0.00
36    A K ENTERPRISES   120182    1      1        0.00
48    A K ENTERPRISES   120229    1      1        0.00
60    A K ENTERPRISES   120439    1      1        0.00
72    A K ENTERPRISES   120441    1      1        0.00
84    A K ENTERPRISES   120447    1      1        0.00
96    A K ENTERPRISES   120455    1      1        0.00
108   A K ENTERPRISES   120612    1      1        0.00
120   A K ENTERPRISES   120646    1      1        0.00
132   A K ENTERPRISES   120650    1      1        0.00
144   A K ENTERPRISES   120919    1      1        0.00
156   A K ENTERPRISES   120920    1      1        0.00
168   A K ENTERPRISES   120936    1      1        0.00
180   A K ENTERPRISES   120938    1      1        0.00
192   A K ENTERPRISES   120969    1      1        0.00
204   A K ENTERPRISES   121304    1      1        0.00
216   A K ENTERPRISES   121530    1      1        0.00
228   A K ENTERPRISES   121558    1      1        0.00
240   A K ENTERPRISES   121686    1      1        0.00
252   A K ENTERPRISES   121700    1      1        0.00
264   A K ENTERPRISES   121759    1      1        0.00
276   A K ENTERPRISES   121772    1      1        0.00
288   A K ENTERPRISES   121778    1      1        0.00
300   A K ENTERPRISES   121829    1      1        0.00
312   A K ENTERPRISES   121836    1      1        0.00
324   A K ENTERPRISES   121842    1      1        0.00
336   A K ENTERPRISES   121849    1      1        0.00
348   A K ENTERPRISES   121852    1      1        0.00
...               ...      ...  ...    ...         ...
8400  A K ENTERPRISES   141907    1      1        0.00
8412  A K ENTERPRISES   141908    1      1        0.00
8424  A K ENTERPRISES   141962    1      1        0.00
8436  A K ENTERPRISES   141975    1      1        0.00
8448  A K ENTERPRISES   141979    1      1        0.00
8460  A K ENTERPRISES   141980    1      1        0.00
8472  A K ENTERPRISES   141981    1      1        0.00
8484  A K ENTERPRISES   141982    1      1        0.00
8496  A K ENTERPRISES   141983    1      1        0.00
8508  A K ENTERPRISES   141993    1      1        0.00
8520  A K ENTERPRISES   142008    1      1        0.00
8532  A K ENTERPRISES   142028    1      1        0.00
8544  A K ENTERPRISES   142195    1      1        0.00
8556  A K ENTERPRISES   142288    1      1        0.00
8568  A K ENTERPRISES   142290    1      1        0.00
8580  A K ENTERPRISES   142291    1      1      144.00
8592  A K ENTERPRISES   142528    1      1      302.40
8604  A K ENTERPRISES   142529    1      1      192.00
8616  A K ENTERPRISES   142556    1      1        0.00
8628  A K ENTERPRISES   142557    1      1        0.00
8640  A K ENTERPRISES   142559    1      1        0.00
8652  A K ENTERPRISES   142560    1      1        0.00
8664  A K ENTERPRISES   142562    1      1        0.00
8676  A K ENTERPRISES   142563    1      1        0.00
8688  A K ENTERPRISES   142565    1      1        0.00
8700  A K ENTERPRISES   142566    1      1        0.00
8712  A K ENTERPRISES   142651    1      1        0.00
8724  A K ENTERPRISES   142652    1      1        0.00
8736  A K ENTERPRISES   142654    1      1        0.00
8748  A K ENTERPRISES   142675    1      1        0.00

[730 rows x 5 columns]

In [170]:
df_19_20.groupby('Distributor')['Material'].nunique()

Distributor
A K ENTERPRISES                            140
ACURA INDUSTRIAL LUBRICANTS                129
AKILAN AGENCIES                             73
ANAND MOTORS                               203
AUTO WORLD                                 154
AUTOMATION AND GENERAL ELECTRIC CO         108
AWESH AUTOMOTIVE                            62
Aashvi Traders                              58
Adila Enterprise                            37
Agra Diesels & Automobiles                  13
Allahabad Auto Stores                       78
Amit Automobiles                            87
Anil Automobiles                            27
Apollo Traders                             173
Arihant Bearings Services  Pvt Ltd          46
Arun Bansal & Company                       38
BANSAL LUBRICANTS INDIA PRIVATE LIMITED    139
BRIGHT ENTERPRISES                          29
Battery House                               54
Bhairava Enterprises                       131
Bhatia Associates                           68
CHARBHUJA LUBES                            107
Chandra Lubricants                          65
DELHI TRADERS                              180
DELTA TECHNICA                             131
DURGA SALES AGENCIES                        88
Darshan Enterprises                         31
Delhi Auto Agencies                        148
Durga Traders                               51
Eshaan Enterprises Limited                  14
                                          ...
Shatarupa Enterprise                        60
Shekhar Agencies                           197
Shiv Shakti Enterprise                      96
Shiv Shakti Traders                        160
Shree Bharat Petro                          36
Shree Ji Lube                               11
Shree Laxmi Traders                        156
Shree Shyam Automobile                      81
Shree Shyam Corporation                     14
Shweta Sales                                26
Sigma India                                 50
Sona Industries                             67
Spectrum Petromac Pvt. Ltd.                382
Speed A Way Pvt Ltd                        425
Sreeja EarthMovers                          22
Sri Radhey Krishna Product Wings             8
Star Industrial Products                   206
Strategic Equipment Solutions               12
Super Transports P Ltd                     436
Swastik International                      105
T S Motors & Tractors                       22
The Yamuna Syndicate Limited                42
V.K. OIL & CHEMICALS                       138
V.K.LUBRICANT                               32
VORA ENTERPRISES                           152
Veerabhadreshwara Enterprises               89
Vibarja Enterprises                         82
Vinayak Lubricants                          37
Vishwakarma Diesel engineers                20
Zorin Enterprise                            53
Name: Material, dtype: int64